@model IEnumerable<SchoolProject.Web.Data.Entities.Students.Student>

@{
    ViewData[index: "Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(expression: model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(expression: model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(expression: model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(expression: model => model.PostalCode)
        </th>
        <th>
            @Html.DisplayNameFor(expression: model => model.MobilePhone)
        </th>
        <th>
            @Html.DisplayNameFor(expression: model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(expression: model => model.Active)
        </th>
        <th>
            @Html.DisplayNameFor(expression: model => model.DateOfBirth)
        </th>
        <th>
            @Html.DisplayNameFor(expression: model => model.IdentificationNumber)
        </th>
        <th>
            @Html.DisplayNameFor(expression: model => model.IdentificationType)
        </th>
        <th>
            @Html.DisplayNameFor(expression: model => model.ExpirationDateIdentificationNumber)
        </th>
        <th>
            @Html.DisplayNameFor(expression: model => model.TaxIdentificationNumber)
        </th>
        <th>
            @Html.DisplayNameFor(expression: model => model.EnrollDate)
        </th>
        <th>
            @Html.DisplayNameFor(expression: model => model.ProfilePhotoId)
        </th>
        <th>
            @Html.DisplayNameFor(expression: model => model.IdGuid)
        </th>
        <th>
            @Html.DisplayNameFor(expression: model => model.WasDeleted)
        </th>
        <th>
            @Html.DisplayNameFor(expression: model => model.CreatedAt)
        </th>
        <th>
            @Html.DisplayNameFor(expression: model => model.UpdatedAt)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(expression: modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(expression: modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(expression: modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(expression: modelItem => item.PostalCode)
            </td>
            <td>
                @Html.DisplayFor(expression: modelItem => item.MobilePhone)
            </td>
            <td>
                @Html.DisplayFor(expression: modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(expression: modelItem => item.Active)
            </td>
            <td>
                @Html.DisplayFor(expression: modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(expression: modelItem => item.IdentificationNumber)
            </td>
            <td>
                @Html.DisplayFor(expression: modelItem => item.IdentificationType)
            </td>
            <td>
                @Html.DisplayFor(expression: modelItem => item.ExpirationDateIdentificationNumber)
            </td>
            <td>
                @Html.DisplayFor(expression: modelItem => item.TaxIdentificationNumber)
            </td>
            <td>
                @Html.DisplayFor(expression: modelItem => item.EnrollDate)
            </td>
            <td>
                @Html.DisplayFor(expression: modelItem => item.ProfilePhotoId)
            </td>
            <td>
                @Html.DisplayFor(expression: modelItem => item.IdGuid)
            </td>
            <td>
                @Html.DisplayFor(expression: modelItem => item.WasDeleted)
            </td>
            <td>
                @Html.DisplayFor(expression: modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(expression: modelItem => item.UpdatedAt)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>