@if ((string) ViewData["Title"] == "Create")
{
    <div class="col-auto">
        <img alt="Image" class="img-thumbnail preview" height="auto"
             src="~/images/PlaceHolders/4131088.webp" width="250"/>
    </div>
}
else
{
    <div class="col-auto">
        <img alt="Image" class="img-thumbnail preview" height="auto"
             src="@Url.Content(Model.ProfilePhotoIdUrl)" width="250"/>
    </div>
}


@* @if ((string) ViewData["Title"] == "Create") *@
@* { *@
@*     <div class="col-auto"> *@
@*         Local <br/> *@
@*         <img alt="Image" class="img-thumbnail preview" height="auto" *@
@*              src="~/images/PlaceHolders/4131088.webp" width="250"/> *@
@*         <br/>Azure <br/> *@
@*         <img alt="Image" class="img-thumbnail preview" height="auto" *@
@*              src="~/images/placeholders/legacy.png" width="250"/> *@
@*     </div> *@
@* *@
@*     <div class="col-auto"> *@
@*         GCP <br/> *@
@*         <img alt="Image" class="img-thumbnail preview" height="auto" *@
@*              src="~/images/placeholders/240px-Placeholder_no_text.png" width="250"/> *@
@*         <br/>AWS <br/> *@
@*         <img alt="Image" class="img-thumbnail preview" height="auto" *@
@*              src="https://ca001.blob.core.windows.net/images/noimage.png" width="250"/> *@
@*     </div> *@
@* } *@
@* else *@
@* { *@
@*     <div class="col-auto"> *@
@*         Local <br/> *@
@*         <img alt="Image" class="img-thumbnail preview" height="auto" *@
@*              src="@Url.Content(Model.ProfilePhotoIdUrl)" width="250"/> *@
@*         <br/>Azure <br/> *@
@*         <img alt="Image" class="img-thumbnail preview" height="auto" *@
@*              src="@Url.Content(Model.ProfilePhotoIdUrl)" width="250"/> *@
@*     </div> *@
@* *@
@*     <div class="col-auto"> *@
@*         GCP <br/> *@
@*         <img alt="Image" class="img-thumbnail preview" height="auto" *@
@*              src="@Url.Content(Model.ProfilePhotoIdUrl)" width="250"/> *@
@*         <br/>AWS <br/> *@
@*         <img alt="Image" class="img-thumbnail preview" height="auto" *@
@*              src="@Url.Content(Model.ProfilePhotoIdUrl)" width="250"/> *@
@*     </div> *@
@* } *@




@*
    <script>
         function previewImage(event) {
             let reader = new FileReader();

             reader.onload = function () {
                 let preview = document.getElementById('preview');
                 preview.src = reader.result;
             }

             reader.readAsDataURL(event.target.files[0]);
         }
 </script>
*@


@*
<script>
    function previewImages(event) {
        let reader = new FileReader();

        reader.onload = function () {
            let previews = document.getElementsByClassName('preview');
            for (let i = 0; i < previews.length; i++) {
                previews[i].src = reader.result;
            }
        }

        reader.readAsDataURL(event.target.files[0]);
    }
</script>
*@