<footer class="footer">

    <partial name="_LayoutDarkModeButton"/>

    @* <div class="container-fluid" style="width:100%"> *@
    @*     <span class="text-body-secondary">Place sticky footer content here.</span> *@
    @*     <span class="text-body-secondary"> *@
    @*         @DateTime.Now | @DateTime.Today.Year - @ViewData["AssemblyName"] &copy; - *@
    @*         Version: @ViewData["AssemblyVersion"] | Web - *@
    @*         <!-- Será atualizado com a largura do html --> *@
    @*         <i id="output3"></i> *@
    @*     </span> *@
    @*     <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> *@
    @* </div> *@

    <nav class="navbar sticky-bottom bg-body-tertiary position-absolute bottom-0 start-0" style="width:100%">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Sticky bottom</a>
            <span class="text-body-secondary">
                @DateTime.Now | @DateTime.Today.Year - @ViewData["AssemblyName"] &copy; -
                Version: @ViewData["AssemblyVersion"] | Web -
                <!-- Será atualizado com a largura do html -->
                <i id="output3-navbar"></i>
            </span>
            <span class="text-body-secondary">
                <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </span>
        </div>
    </nav>

</footer>

<script src="~/js/siteFooter.js"></script>