@using System.Reflection

<!DOCTYPE html>

@inject IWebHostEnvironment HostingEnvironment

@{
    ViewData["AssemblyName"] = Assembly.GetExecutingAssembly().GetName().Name;
    ViewData["AssemblyFullName"] = Assembly.GetExecutingAssembly().GetName().FullName;
    ViewData["AssemblyVersion"] = Assembly.GetExecutingAssembly().GetName().Version;
    ViewData["vAssemblyVersion"] = "v" + Assembly.GetExecutingAssembly().GetName().Version;
}

@* <html lang="pt" data-bs-theme="dark"> *@
@* <html lang="pt"> *@
<html data-bs-theme="auto" lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    @* <title>@ViewData["Title"] - @ViewData["SolutionName"]</title> *@
    @* <title>@ViewData["Title"] - @ViewData["AssemblyName"]</title> *@

    <title>@ViewData["Title"] - @ViewData["AssemblyName"] @ViewData["vAssemblyVersion"]</title>

    <!-- ----------------------------------- ----------------------------------- ----------------------------------- -->
    <!-- ----------------------------------- Adicione as referências aos estilos ----------------------------------- -->
    <!-- ----------------------------------- ----------------------------------- ----------------------------------- -->

    <partial name="_LayoutHeadImports"></partial>

</head>

<body>

<partial name="_LayoutHeader"/>

<main>
    <div class="container-fluid p-4">
        @RenderBody()
    </div>
</main>

<partial name="_LayoutFooter"/>
<partial name="_LayoutScripts"/>

@await RenderSectionAsync("Scripts", false)

</body>

</html>