@using System.Reflection

<!DOCTYPE html>

@inject IWebHostEnvironment HostingEnvironment

@{
    ViewData["AssemblyName"] = Assembly.GetExecutingAssembly().GetName().Name;
    ViewData["AssemblyFullName"] = Assembly.GetExecutingAssembly().GetName().FullName;
    ViewData["AssemblyVersion"] = Assembly.GetExecutingAssembly().GetName().Version;
    ViewData["vAssemblyVersion"] = "v" + Assembly.GetExecutingAssembly().GetName().Version;
}

@* <html lang="pt" data-bs-theme="dark"> *@
@* <html lang="pt"> *@
<html data-bs-theme="auto" lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    @* <title>@ViewData["Title"] - @ViewData["SolutionName"]</title> *@
    @* <title>@ViewData["Title"] - @ViewData["AssemblyName"]</title> *@

    <title>@ViewData["Title"] - @ViewData["AssemblyName"] @ViewData["vAssemblyVersion"]</title>

    <!-- ----------------------------------- ----------------------------------- ----------------------------------- -->
    <!-- ----------------------------------- Adicione as referências aos estilos ----------------------------------- -->
    <!-- ----------------------------------- ----------------------------------- ----------------------------------- -->

    <div class="b-example-divider">
        <partial name="_LayoutHeadImports"></partial>
    </div>
</head>

@* <body> *@
<body class="d-flex flex-column min-vh-100">

<div class="b-example-divider">
    <partial name="_LayoutHeader"/>
</div>

@* <div class="b-example-divider"> *@
@*     <main> *@
@*         <div class="container-fluid justify-content-center p-4"> *@
@*             @RenderBody() *@
@*         </div> *@
@*     </main> *@
@* </div> *@

@* <div class="b-example-divider"> *@
@*     <main class="d-flex flex-column flex-fill"> *@
@*         <div class="container-fluid d-flex flex-fill justify-content-center p-4"> *@
@*                 @RenderBody() *@
@*         </div> *@
@*     </main> *@
@* </div> *@

<div class="b-example-divider">
    <main class="flex-grow-1 d-flex ">
        <div class="container-fluid d-flex justify-content-center p-4">
            @RenderBody()
        </div>
    </main>
</div>

<div class="b-example-divider">
    <partial name="_LayoutFooter"/>
</div>

<div class="b-example-divider">
    <partial name="_LayoutDarkModeButton"/>
</div>

<div class="b-example-divider">
    <partial name="_LayoutScripts"/>
</div>

<div class="b-example-divider">
    @await RenderSectionAsync("Scripts", false)
</div>

</body>

</html>