@using System.Reflection
<!DOCTYPE html>

@inject IWebHostEnvironment HostingEnvironment

@{
    ViewData["AssemblyName"] = Assembly.GetExecutingAssembly().GetName().Name;
    ViewData["AssemblyFullName"] = Assembly.GetExecutingAssembly().GetName().FullName;
    ViewData["AssemblyVersion"] = Assembly.GetExecutingAssembly().GetName().Version;
    ViewData["vAssemblyVersion"] = "v" + Assembly.GetExecutingAssembly().GetName().Version;

    var actionName = ViewContext.RouteData.Values["action"]?.ToString();
    ViewData["actionName"] = actionName;

    var controllerName = ViewContext.RouteData.Values["controller"]?.ToString();
    ViewData["controllerName"] = controllerName;

    var assemblyName = Assembly.GetExecutingAssembly().GetName().Name;
    ViewData["assemblyName"] = assemblyName;

    // var pageTitle = actionName + " - " + controllerName + " - " + assemblyName ;
    var pageTitle = actionName + " - " + controllerName + " - " + assemblyName + " " + ViewData["vAssemblyVersion"];
    ViewData["pageTitle"] = pageTitle;
}

@* <html lang="pt" data-bs-theme="dark"> *@
@* <html lang="pt"> *@
<html data-bs-theme="auto" lang="en">


<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    @* <title>@ViewData["Title"] - @ViewData["SolutionName"]</title> *@
    @* <title>@ViewData["Title"] - @ViewData["AssemblyName"]</title> *@

    @* <title>@ViewData["Title"] - @pageTitle - @ViewData["AssemblyName"] @ViewData["vAssemblyVersion"]</title> *@
    <title> @pageTitle </title>

    <!-- ----------------------------------- ----------------------------------- ----------------------------------- -->
    <!-- ----------------------------------- Adicione as referências aos estilos ----------------------------------- -->
    <!-- ----------------------------------- ----------------------------------- ----------------------------------- -->


    @* <div class="b-example-divider d-none">Layout Head Imports</div> *@
    <partial name="_LayoutHeadImports"></partial>

</head>

<div class="b-example-divider d-none">Layout Body</div>
<body class="min-vh-100" data-controller-name="@controllerName">

<div class="b-example-divider d-none">Layout Header</div>
<partial name="_LayoutHeader"/>

<div class="b-example-divider d-none">Main Render Body</div>
<main class="flex-grow-1">
    <div class="container-fluid flex-grow-1 justify-content-center p-4">
        @RenderBody()
    </div>
</main>

<partial name="Modals/_DeleteModal"/>

<div class="b-example-divider d-none">Layout Footers</div>
<partial name="_LayoutFooter"/>

<div class="b-example-divider d-none">Layout Dark Mode Button</div>
<partial name="_LayoutDarkModeButton"/>

<div class="b-example-divider d-none">Layout Scripts</div>
<partial name="_LayoutScripts"/>

<div class="b-example-divider d-none">Scripts Render Section</div>
@await RenderSectionAsync("Scripts", false)

</body>

</html>