@using System.Diagnostics
@{
    var currentController = ViewContext.RouteData.Values["controller"] as string;
    var currentAction = ViewContext.RouteData.Values["action"] as string;

    Debug.Assert(User.Identity != null, "User.Identity != null");
}


<div class="dropdown">
    @* <span class="material-symbols-outlined">settings</span> *@
    <a class="nav-link dropdown-toggle" @(currentController is "SchoolClassCourses" or "SchoolClasses" or "SchoolClassStudents" ? "active" : "")
       role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="material-symbols-outlined">admin_panel_settings</i>SchoolClasses
    </a>

    <ul class="dropdown-menu">
        <li>
            <a class="dropdown-item @(currentController == "SchoolClasses" ? "active" : "")"
               asp-area="" asp-controller="SchoolClasses" asp-action="Index">
                <i class="fas fa-person-through-window"></i> School Classes List
            </a>
        </li>

        <li>
            <hr class="dropdown-divider">
        </li>
        <li>
            <a class="dropdown-item @(currentController == "SchoolClassCourses" ? "active" : "")"
               asp-area="" asp-controller="SchoolClassCourses" asp-action="Index">
                <i class="fas fa-person-through-window"></i> SchoolClassCourses
            </a>
        </li>

        <li>
            <hr class="dropdown-divider">
        </li>
        <li>
            <a class="dropdown-item @(currentController == "SchoolClassStudents" ? "active" : "")"
               asp-area="" asp-controller="SchoolClassStudents" asp-action="Index">
                <i class="fas fa-person-through-window"></i> SchoolClassStudents
            </a>
        </li>


        <li>
            <hr class="dropdown-divider">
        </li>
        <li>
            <a class="dropdown-item @(currentController == "SchoolClassStudents" ? "active" : "")"
               asp-area="" asp-controller="SchoolClasses" asp-action="IndexCards">
                <i class="fas fa-person-through-window"></i> School Classes Cards
            </a>
        </li>

    </ul>

</div>