@* @model TModel *@

@{
    var currentController = ViewContext.RouteData.Values[key: "controller"] as string;
    var currentAction = ViewContext.RouteData.Values[key: "action"] as string;
}


<nav class="navbar navbar-expand-xxl bg-body-tertiary nav-tabs">
    @* <nav class="navbar navbar-expand bg-body-tertiary nav-tabs"> *@
    @* <nav class="navbar navbar-expand-lg bg-body-tertiary nav-tabs"> *@

    <div class="container-fluid">

        @* <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">@ViewData["Title"] - </a> *@
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
            @ViewData[index: "AssemblyName"]
        </a>


        <div class="navbar-collapse collapse justify-content-between" id="navbarNavAltMarkup">

            <div class="navbar-nav flex-grow-1">

                <partial name="_LayoutNavBarHomePanel"/>
                <partial name="_LayoutNavBarCountriesPanel"/>

                <a class="nav-link @(currentController == "Courses" ? "active" : "")"
                   asp-area="" asp-controller="Courses" asp-action="Index">
                    <i class="fas fa-person-shelter"></i>
                    Courses
                </a>

                <a class="nav-link @(currentController == "Enrollments" ? "active" : "")"
                   asp-area="" asp-controller="Enrollments" asp-action="Index">
                    <i class="fas fa-person-through-window"></i>
                    Enrollments
                </a>

                <a class="nav-link @(currentController == "Genders" ? "active" : "")"
                   asp-area="" asp-controller="Genders" asp-action="Index">
                    @* <i class="fas fa-person-shelter"></i> *@
                    <span class="material-symbols-outlined">transgender</span>
                    Genders
                </a>

                <partial name="_LayoutNavBarSchoolClassesPanel"/>
                <partial name="_LayoutNavBarStudentsPanel"/>
                <partial name="_LayoutNavBarTeachersPanel"/>

            </div>

        </div>

        <partial name="_LayoutNavBarAdminPanel"/>
        <partial name="_LayoutNavBarLoginPanel"/>

    </div>

</nav>