@using System.Reflection
<!DOCTYPE html>
@inject IWebHostEnvironment HostingEnvironment

@{
    ViewData["AssemblyName"] = Assembly.GetExecutingAssembly().GetName().Name;
    ViewData["AssemblyFullName"] = Assembly.GetExecutingAssembly().GetName().FullName;
    ViewData["AssemblyVersion"] = Assembly.GetExecutingAssembly().GetName().Version;
    ViewData["vAssemblyVersion"] = "v" + Assembly.GetExecutingAssembly().GetName().Version;
}

@* <html lang="pt" data-bs-theme="dark"> *@
<html lang="pt">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    @* <title>@ViewData["Title"] - @ViewData["SolutionName"]</title> *@
    @* <title>@ViewData["Title"] - @ViewData["AssemblyName"]</title> *@

    <title>@ViewData["Title"] - @ViewData["AssemblyName"] @ViewData["vAssemblyVersion"]</title>


    <!-- ----------------------------------- ----------------------------------- ----------------------------------- -->
    <!-- ----------------------------------- Adicione as referências aos estilos ----------------------------------- -->
    <!-- ----------------------------------- ----------------------------------- ----------------------------------- -->

    <partial name="_LayoutHeadImports"></partial>

</head>


@* <body> *@
<body class="d-flex flex-column min-vh-100">

<header>
    <partial name="_LayoutNavBar"/>
</header>


<!-- Conteúdo principal -->
<!-- Adicione as classes 
'container-fluid d-flex flex-column justify-content-center m-4'
para ocupar espaço vertical, e 'm-4' para criar margem -->
@* <div class="container-fluid d-flex flex-column justify-content-center m-4"> *@
@*     <main role="main" class="pb-3"> *@
@*         @RenderBody() *@
@*     </main> *@
@* </div> *@

<div class="flex-grow-1 container-fluid d-flex flex-column justify-content-center m-4">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<partial name="_LayoutFooter"/>
<partial name="_LayoutScripts"/>


@await RenderSectionAsync("Scripts", false)


</body>


</html>