@using System.Reflection
<!DOCTYPE html>

@inject IWebHostEnvironment HostingEnvironment

@{
    ViewData[index: "AssemblyName"] = Assembly.GetExecutingAssembly().GetName().Name;
    ViewData[index: "AssemblyFullName"] = Assembly.GetExecutingAssembly().GetName().FullName;
    ViewData[index: "AssemblyVersion"] = Assembly.GetExecutingAssembly().GetName().Version;
    ViewData[index: "vAssemblyVersion"] = "v" + Assembly.GetExecutingAssembly().GetName().Version;
}

@* <html lang="pt" data-bs-theme="dark"> *@
<html lang="pt">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    @* <title>@ViewData["Title"] - @ViewData["SolutionName"]</title> *@
    @* <title>@ViewData["Title"] - @ViewData["AssemblyName"]</title> *@
    @* <title>@ViewData["Title"] - @ViewData["AssemblyName"] v @ViewData["AssemblyVersion"]</title> *@
    <title>@ViewData[index: "Title"] - @ViewData[index: "AssemblyName"] @ViewData[index: "vAssemblyVersion"]</title>

    <!-- ----------------------------------- ----------------------------------- ----------------------------------- -->
    <!-- ----------------------------------- Adicione as referências aos estilos ----------------------------------- -->
    <!-- ----------------------------------- ----------------------------------- ----------------------------------- -->
    <partial name="_LayoutHeadImports"></partial>

</head>

<body>


<header>
    <partial name="_LayoutNavBar"/>
</header>

<br/>
<br/>

<div class="container-fluid justify-content-center">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<br/>
<br/>
<br/>

<partial name="_LayoutFooter"/>
<partial name="_LayoutScripts"/>

@await RenderSectionAsync(name: "Scripts", required: false)

</body>

</html>