@using SchoolProject.Web.Data.Entities.Users
@using SchoolProject.Web.Helpers.Users
@using System.Diagnostics
@using Microsoft.AspNetCore.Identity
@* @model TModel *@


@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@inject IUserHelper UserHelper



@{
    var currentController = ViewContext.RouteData.Values["controller"] as string;
    var currentAction = ViewContext.RouteData.Values["action"] as string;

    Debug.Assert(User.Identity != null, "User.Identity != null");
}


<div class="d-flex ms-auto">

    <div class="navbar-nav">
        @* <a class="nav-link active" aria-current="page" href="#">Home</a> *@
        @* <a class="nav-link" href="#">Features</a> *@
        @* <a class="nav-link" href="#">Pricing</a> *@
        @* <a class="nav-link disabled">Disabled</a> *@

        @if (User.Identity.IsAuthenticated)
        {
            <a class="nav-link @(currentAction == "ChangeUser" && currentController == "Account" ? "active" : "")"
               asp-area="" asp-controller="Account" asp-action="ChangeUser">
                <span class="material-symbols-outlined">settings_account_box</span>
                @* @User.Identity?.Name *@
                Hello @await UserHelper.GetUserInitialsAsync()
            </a>

            <a class="nav-link @(currentAction == "LogOut" && currentController == "Account" ? "active" : "")"
               asp-area="" asp-controller="Account" asp-action="LogOut">
                <span class="material-symbols-outlined">logout</span>Logout
            </a>
        }
        else
        {
            <a class="nav-link @(currentAction == "Register" && currentController == "Account" ? "active" : "")"
               asp-area="" asp-controller="Account" asp-action="Register">
                <span class="material-symbols-outlined">person_add</span>Register
            </a>
            <a class="nav-link @(currentAction == "Login" && currentController == "Account" ? "active" : "")"
               asp-area="" asp-controller="Account" asp-action="Login">
                <span class="material-symbols-outlined">login</span>Login
            </a>
        }
    </div>

    <partial name="_LoginPartial"/>

    @* <partial name="_LayoutNavBarLanguagePanel"/> *@

    @* <partial name="_LayoutNavBarThemePanel"/> *@

    <div class="form-check form-switch me-2">
        <div class="d-flex flex-column">
            <input class="form-check-input order-1 align-self-center" type="checkbox" id="darkModeSwitch">
            <label class="form-check-label order-2 align-self-center" for="darkModeSwitch">Dark Mode</label>
        </div>
    </div>

    <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

</div>