@using SchoolProject.Web.Controllers
@using SchoolProject.Web.Helpers
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<HomeController> Localizer

@{
    ViewData[index: "Title"] = "Home Page";

    var ts = TimeTracker.GetElapsedTime(timerName: TimeTracker.SeedDbCoursesName);
    var SCElapsedTime = $"{ts.Hours:00}:{ts.Minutes:00}:{ts.Seconds:00}.{ts.Milliseconds:00}";

    ts = TimeTracker.GetElapsedTime(timerName: TimeTracker.SeedDbCoursesMPInfoName);
    var MPElapsedTime = $"{ts.Hours:00}:{ts.Minutes:00}:{ts.Seconds:00}.{ts.Milliseconds:00}";

    ts = TimeTracker.GetElapsedTime(timerName: TimeTracker.SeederTimerName);
    var RSElapsedTime = $"{ts.Hours:00}:{ts.Minutes:00}:{ts.Seconds:00}.{ts.Milliseconds:00}";

    ts = TimeTracker.GetElapsedTime(timerName: TimeTracker.AppBuilderTimerName);
    var SPElapsedTime = $"{ts.Hours:00}:{ts.Minutes:00}:{ts.Seconds:00}.{ts.Milliseconds:00}";


    var allRuntimes =
        $"RunTime do seeding dos cursos: {SCElapsedTime} seconds.\n" +
        $"RunTime do seeding dos cursos (impressão dos dados na consola): {MPElapsedTime} seconds.\n" +
        $"RunTime do seeding (total): {RSElapsedTime} seconds.\n" +
        $"RunTime do programa: {SPElapsedTime}.\n";

    var allRuntimesHtml =
        $"RunTime do seeding dos cursos: {SCElapsedTime} seconds.<br>" +
        $"RunTime do seeding dos cursos (impressão dos dados na consola): {MPElapsedTime} seconds.<br>" +
        $"RunTime do seeding (total): {RSElapsedTime} seconds.<br>" +
        $"RunTime do programa: {SPElapsedTime}.<br>";
}


<h1>@ViewData[index: "WelcomeMessage"]</h1>


<h1>@Localizer[name: "WelcomeMessage"]</h1>

<p>@Localizer[name: "ContactUs"]</p>

<p>@Localizer[name: "AboutUs"]</p>


<br/>
<p>@allRuntimes</p>
@Html.Raw(value: allRuntimesHtml)

<br/>
<p>@ProcessList.ListOfProcesses</p>

<br/>
<p>@ProcessList.ListOfProcesses.Count</p>
<br/>
<ul>
    @foreach (var process in ProcessList.ListOfProcesses)
    {
        <li>@process</li>
    }
</ul>


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>