@inject IStringLocalizer<HomeController> Localizer

@using SchoolProject.Web.Controllers
@using SchoolProject.Web.Helpers
@using Microsoft.Extensions.Localization

@model dynamic

@{
    ViewData["Title"] = "App Threads still running";
    // Layout = "_Layout";
}

<title>@ViewData["Title"] - @ViewData["AssemblyName"] @ViewData["vAssemblyVersion"]</title>
<h2>title</h2>


@{
    ViewData["Title"] = "Home Page";

    var ts = TimeTracker.GetElapsedTime(TimeTracker.SeedDbCoursesName);
    var SCElapsedTime = $"{ts.Hours:00}:{ts.Minutes:00}:{ts.Seconds:00}.{ts.Milliseconds:00}";

    ts = TimeTracker.GetElapsedTime(TimeTracker.SeedDbCoursesMPInfoName);
    var MPElapsedTime = $"{ts.Hours:00}:{ts.Minutes:00}:{ts.Seconds:00}.{ts.Milliseconds:00}";

    ts = TimeTracker.GetElapsedTime(TimeTracker.SeederTimerName);
    var RSElapsedTime = $"{ts.Hours:00}:{ts.Minutes:00}:{ts.Seconds:00}.{ts.Milliseconds:00}";

    ts = TimeTracker.GetElapsedTime(TimeTracker.AppBuilderTimerName);
    var SPElapsedTime = $"{ts.Hours:00}:{ts.Minutes:00}:{ts.Seconds:00}.{ts.Milliseconds:00}";


    var allRuntimes =
        $"RunTime do seeding dos cursos: {SCElapsedTime} seconds.\n" +
        $"RunTime do seeding dos cursos (impressão dos dados na consola): {MPElapsedTime} seconds.\n" +
        $"RunTime do seeding (total): {RSElapsedTime} seconds.\n" +
        $"RunTime do programa: {SPElapsedTime}.\n";

    var allRuntimesHtml =
        $"RunTime do seeding dos cursos: {SCElapsedTime} seconds.<br>" +
        $"RunTime do seeding dos cursos (impressão dos dados na consola): {MPElapsedTime} seconds.<br>" +
        $"RunTime do seeding (total): {RSElapsedTime} seconds.<br>" +
        $"RunTime do programa: {SPElapsedTime}.<br>";
}


@* <h1>@ViewData["WelcomeMessage"]</h1> *@

<div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">

    <div class="bg-body-tertiary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 p-3">
            <h2 class="display-5">List Of Processes</h2>
            <p class="lead">@ProcessList.ListOfProcesses.Count.</p>
        </div>
        <div class="bg-body-tertiary shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
            <p>@ProcessList.ListOfProcesses</p>
        </div>
    </div>

    <div class="text-bg-primary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-auto">
        <div class="my-3 py-3">
            <h2 class="display-5">List Of Processes</h2>
            <p class="lead">@ProcessList.ListOfProcesses.Count.</p>
        </div>
        <div class="bg-body-tertiary shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
            <ul>
                @foreach (var process in ProcessList.ListOfProcesses)
                {
                    <li>@process</li>
                }
            </ul>
        </div>
    </div>

</div>


@* <br/> *@
@* <p>@ProcessList.ListOfProcesses</p> *@
@* *@
@* <br/> *@
@* <p>@ProcessList.ListOfProcesses.Count</p> *@
@* <br/> *@
@* <ul> *@
@*     @foreach (var process in ProcessList.ListOfProcesses) *@
@*     { *@
@*         <li>@process</li> *@
@*     } *@
@* </ul> *@