@inject IStringLocalizer<HomeController> Localizer
@using SchoolProject.Web.Controllers
@using SchoolProject.Web.Helpers
@using Microsoft.Extensions.Localization
@model dynamic

@{
    ViewData["Title"] = "TimeTrackers";
    Layout = "_Layout";

    var ts = TimeTracker.GetElapsedTime(TimeTracker.SeedDbCoursesName);
    var SCElapsedTime = $"{ts.Hours:00}:{ts.Minutes:00}:{ts.Seconds:00}.{ts.Milliseconds:00}";

    ts = TimeTracker.GetElapsedTime(TimeTracker.SeedDbCoursesMPInfoName);
    var MPElapsedTime = $"{ts.Hours:00}:{ts.Minutes:00}:{ts.Seconds:00}.{ts.Milliseconds:00}";

    ts = TimeTracker.GetElapsedTime(TimeTracker.SeederTimerName);
    var RSElapsedTime = $"{ts.Hours:00}:{ts.Minutes:00}:{ts.Seconds:00}.{ts.Milliseconds:00}";

    ts = TimeTracker.GetElapsedTime(TimeTracker.AppBuilderTimerName);
    var SPElapsedTime = $"{ts.Hours:00}:{ts.Minutes:00}:{ts.Seconds:00}.{ts.Milliseconds:00}";


    var allRuntimes =
        $"RunTime do seeding dos cursos: {SCElapsedTime} seconds.\n" +
        $"RunTime do seeding dos cursos (impressão dos dados na consola): {MPElapsedTime} seconds.\n" +
        $"RunTime do seeding (total): {RSElapsedTime} seconds.\n" +
        $"RunTime do programa: {SPElapsedTime}.\n";

    var allRuntimesHtml =
        $"RunTime do seeding dos cursos: {SCElapsedTime} seconds.<br>" +
        $"RunTime do seeding dos cursos (impressão dos dados na consola): {MPElapsedTime} seconds.<br>" +
        $"RunTime do seeding (total): {RSElapsedTime} seconds.<br>" +
        $"RunTime do programa: {SPElapsedTime}.<br>";
}


<h1>@Localizer["WelcomeMessage"]</h1>

<p>@Localizer["ContactUs"]</p>

<p>@Localizer["AboutUs"]</p>


<br/>
<p>@allRuntimes</p>
@Html.Raw(allRuntimesHtml)