@using System.Reflection
@model IEnumerable<SchoolProject.Web.Helpers.VariableInfoViewModel>

@{
    ViewData["AssemblyName"] = Assembly.GetExecutingAssembly().GetName().Name;
    ViewData["AssemblyFullName"] = Assembly.GetExecutingAssembly().GetName().FullName;
    ViewData["AssemblyVersion"] = Assembly.GetExecutingAssembly().GetName().Version;
    ViewData["vAssemblyVersion"] = "v" + Assembly.GetExecutingAssembly().GetName().Version;

    var actionName = ViewContext.RouteData.Values["action"]?.ToString() ?? string.Empty;
    ViewData["actionName"] = actionName;

    var controllerName = ViewContext.RouteData.Values["controller"]?.ToString() ?? string.Empty;
    ViewData["controllerName"] = controllerName;

    var assemblyName = Assembly.GetExecutingAssembly().GetName().Name ?? string.Empty;
    ViewData["assemblyName"] = assemblyName;

    // var pageTitle = actionName + " - " + controllerName + " - " + assemblyName ;
    var pageTitle = actionName + " - " + controllerName + " - " + assemblyName + " " + ViewData["vAssemblyVersion"];

    ViewData["pageTitle"] = pageTitle;
    ViewData["Title"] = "Informações das Variáveis";
}

<h2>@ViewData["Title"]</h2>
@* <h2>@actionName</h2> *@

<table class="table table-hover" sortable="True" id="sortableTable">
    <thead>
    <tr>
        <th>@Html.DisplayNameFor(model => model.VariableName) </th>
        <th>@Html.DisplayNameFor(model => model.ClassName) </th>
        <th>@Html.DisplayNameFor(model => model.ObjectsCount) </th>
        <th>@Html.DisplayNameFor(model => model.SizeInBytes) </th>
        <th>@Html.DisplayNameFor(model => model.SizeInKilobytes) </th>
        <th>@Html.DisplayNameFor(model => model.SizeInMegabytes) </th>
        <th>@Html.DisplayNameFor(model => model.SizeInGigabytes) </th>
    </tr>
    </thead>

    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.VariableName) </td>
            <td>@Html.DisplayFor(modelItem => item.ClassName) </td>
            <td>@Html.DisplayFor(modelItem => item.ObjectsCount) </td>
            <td>@Html.DisplayFor(modelItem => item.SizeInBytes) </td>
            <td>@Html.DisplayFor(modelItem => item.SizeInKilobytes) </td>
            <td>@Html.DisplayFor(modelItem => item.SizeInMegabytes) </td>
            <td>@Html.DisplayFor(modelItem => item.SizeInGigabytes) </td>
        </tr>
    }
    </tbody>
</table>