@using SchoolProject.Web.Data.Entities.Users
@using SchoolProject.Web.Helpers.Users
@using System.Diagnostics
@using Microsoft.AspNetCore.Identity
@* --------------------------------------------------- *@
@* Barras de navegação off-canvas para teste número 8  *@
@* --------------------------------------------------- *@

@* _LayoutOffCanvasAdminMenu *@

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@inject IUserHelper UserHelper

@{
    var currentController = ViewContext.RouteData.Values["controller"] as string;
    var currentAction = ViewContext.RouteData.Values["action"] as string;
    Debug.Assert(User.Identity != null, "AppUser.Identity != null");
}



@* Verifica se o AppUser está autenticado e se é o Admin!! *@
@* cria um drop-down com as opções de AppUsers e Roles *@
<div aria-labelledby="offCanvasAdminPanelLabel" class="offcanvas offcanvas-end" id="offCanvasAdminPanel" tabindex="-1">

    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offCanvasAdminPanelLabel">Admin Panel | Off-canvas right</h5>
        <button aria-label="Close" class="btn-close" data-bs-dismiss="offcanvas" type="button"></button>
    </div>

    <div class="offcanvas-body">
        <div>
            Admin Panel
            Off-canvas right
        </div>

        <a asp-action="Index" asp-area="" asp-controller="Users"
           class="nav-item @(currentAction == "Index" && currentController == "Users" ? "active" : "")">
            @* <span class="bi bi-person-fill"></span> *@
            <span class="material-symbols-outlined" height="32">person</span>
            AppUsers
        </a>
        <a asp-action="IndexCards" asp-area="" asp-controller="Users"
           class="nav-item @(currentAction == "IndexCards" && currentController == "Users" ? "active" : "")">
            @* <span class="bi bi-person-fill"></span> *@
            <span class="material-symbols-outlined" height="32">person</span>
            AppUsers Cards
        </a>
        <a asp-action="IndexCards1" asp-area="" asp-controller="Users"
           class="nav-item @(currentAction == "IndexCards1" && currentController == "Users" ? "active" : "")">
            @* <span class="bi bi-person-fill"></span> *@
            <span class="material-symbols-outlined" height="32">person</span>
            AppUsers Cards 1
        </a>

        <hr/>

        <a asp-action="Index" asp-area="" asp-controller="Roles"
           class="nav-item @(currentAction == "Index" && currentController == "Roles" ? "active" : "")">
            @* <span class="bi bi-people-fill"></span> *@
            <span class="material-symbols-outlined" height="32">group</span>
            Roles
        </a>
        <a asp-action="IndexCards" asp-area="" asp-controller="Roles"
           class="nav-item @(currentAction == "IndexCards" && currentController == "Roles" ? "active" : "")">
            @* <span class="bi bi-people-fill"></span> *@
            <span class="material-symbols-outlined" height="32">group</span>
            Roles Cards
        </a>
        <a asp-action="IndexCards1" asp-area="" asp-controller="Roles"
           class="nav-item @(currentAction == "IndexCards1" && currentController == "Roles" ? "active" : "")">
            @* <span class="bi bi-people-fill"></span> *@
            <span class="material-symbols-outlined" height="32">group</span>
            Roles Cards 1
        </a>

        <hr/>

        <a id="manage"
           class="nav-item @(currentAction == "" && currentController == "Account" ? "active" : "")"
           asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">

            <span class="material-symbols-outlined" height="32">settings_account_box</span>
            @* Hello @AppUserManager.GetAppUserName(AppUser)! *@
            @* @AppUser.Identity?.Name *@
            Hello @await UserHelper.GetUserInitialsAsync()
        </a>

        <hr/>

        <a class="nav-item @(currentAction == "Register" && currentController == "Account" ? "active" : "")"
           asp-area="" asp-controller="Account" asp-action="Register">
            <span class="material-symbols-outlined" height="32">person</span>
            Register New AppUser
        </a>

    </div>

</div>