@using System.Diagnostics
@* --------------------------------------------------- *@
@* Barras de navegação off-canvas para teste número 9  *@
@* --------------------------------------------------- *@

@* _LayoutOffCanvasAccountMenu *@

@{
    var currentController = ViewContext.RouteData.Values["controller"] as string;
    var currentAction = ViewContext.RouteData.Values["action"] as string;

    Debug.Assert(User.Identity != null, "User.Identity != null");
}

@* <a *@
@*     aria-controls="offCanvasAccountConfiguration" class="btn btn-primary" *@
@*     data-bs-toggle="offcanvas" href="#offCanvasAccountConfiguration" role="button"> *@
@*     Account Configuration *@
@* </a> *@
@* *@
@* <button *@
@*     aria-controls="offCanvasAccountConfiguration" class="btn btn-primary" *@
@*     data-bs-target="#offCanvasAccountConfiguration" data-bs-toggle="offcanvas" type="button"> *@
@*     Account Configuration *@
@* </button> *@

<div class="offcanvas offcanvas-start" tabindex="-1"
     id="offCanvasAccountConfiguration" aria-labelledby="offcanvasAccountConfigurationLabel">

    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasAccountConfigurationHeaderLabel">Account Configuration | Off-canvas </h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>

    <div class="offcanvas-body">
        <div>
            off-canvas.
            Account Configuration.
        </div>

        <a class="nav-link @(currentAction == "ChangeUser" && currentController == "Account" ? "active" : "")"
           asp-area="" asp-controller="Account" asp-action="ChangePassword">
            <span class="material-symbols-outlined">settings_account_box</span> Change Password
            @* @User.Identity?.Name *@
            @* Hello @await UserHelper.GetUserInitialsAsync() *@
        </a>


        <a class="nav-link @(currentAction == "ChangeUser" && currentController == "Account" ? "active" : "")"
           asp-area="" asp-controller="Account" asp-action="ChangeUser">
            <span class="material-symbols-outlined">settings_account_box</span> Change User
            @* @User.Identity?.Name *@
            @* Hello @await UserHelper.GetUserInitialsAsync() *@
        </a>

        <a class="nav-link @(currentAction == "ChangeUser" && currentController == "Account" ? "active" : "")"
           asp-area="" asp-controller="Account" asp-action="ConfirmEmail">
            <span class="material-symbols-outlined">settings_account_box</span> Confirm Email
            @* @User.Identity?.Name *@
            @* Hello @await UserHelper.GetUserInitialsAsync() *@
        </a>

        <a class="nav-link @(currentAction == "ChangeUser" && currentController == "Account" ? "active" : "")"
           asp-area="" asp-controller="Account" asp-action="Login">
            <span class="material-symbols-outlined">settings_account_box</span> Login
            @* @User.Identity?.Name *@
            @* Hello @await UserHelper.GetUserInitialsAsync() *@
        </a>

        <a class="nav-link @(currentAction == "ChangeUser" && currentController == "Account" ? "active" : "")"
           asp-area="" asp-controller="Account" asp-action="LogOut">
            <span class="material-symbols-outlined">settings_account_box</span> Logout
            @* @User.Identity?.Name *@
            @* Hello @await UserHelper.GetUserInitialsAsync() *@
        </a>

        <a class="nav-link @(currentAction == "ChangeUser" && currentController == "Account" ? "active" : "")"
           asp-area="" asp-controller="Account" asp-action="Register">
            <span class="material-symbols-outlined">settings_account_box</span> Register New User
            @* @User.Identity?.Name *@
            @* Hello @await UserHelper.GetUserInitialsAsync() *@
        </a>

        <div class="dropdown mt-3">

            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
                Drop-down button
            </button>

            <ul class="dropdown-menu">
                <li>
                    <a class="dropdown-item" href="#">Action</a>
                </li>
                <li>
                    <a class="dropdown-item" href="#">Another action</a>
                </li>
                <li>
                    <a class="dropdown-item" href="#">Something else here</a>
                </li>
            </ul>

        </div>

    </div>

</div>