@model IEnumerable<SchoolProject.Web.Data.Entities.SchoolClasses.SchoolClassStudent>

@{
    ViewData["Title"] = "Index";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-primary"><span class="fa-solid fa-stethoscope"></span> Create New </a>
</p>

<table class="table table-hover" sortable="True" id="sortableTable">
    <thead>
    <tr>
        <th>@Html.DisplayNameFor(model => model.SchoolClass)</th>
        <th>@Html.DisplayNameFor(model => model.Student)</th>
        <th>@Html.DisplayNameFor(model => model.Id)</th>
        <th>@Html.DisplayNameFor(model => model.IdGuid)</th>
        <th>@Html.DisplayNameFor(model => model.WasDeleted)</th>
        <th>@Html.DisplayNameFor(model => model.CreatedAt)</th>
        <th>@Html.DisplayNameFor(model => model.CreatedBy)</th>
        <th>@Html.DisplayNameFor(model => model.UpdatedAt)</th>
        <th>@Html.DisplayNameFor(model => model.UpdatedBy)</th>
        <th></th>
    </tr>
    </thead>

    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.SchoolClass.Acronym)</td>
            <td>@Html.DisplayFor(modelItem => item.Student.Address)</td>
            <td>@Html.DisplayFor(modelItem => item.Id)</td>
            <td>@Html.DisplayFor(modelItem => item.IdGuid)</td>
            <td>@Html.DisplayFor(modelItem => item.WasDeleted)</td>
            <td>@Html.DisplayFor(modelItem => item.CreatedAt)</td>
            <td>@Html.DisplayFor(modelItem => item.CreatedBy.Id)</td>
            <td>@Html.DisplayFor(modelItem => item.UpdatedAt)</td>
            <td>@Html.DisplayFor(modelItem => item.UpdatedBy.Id)</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {/* id=item.PrimaryKey */}) <span class="fa-regular fa-pen-to-square"></span>
                @Html.ActionLink("Details", "Details", new {/* id=item.PrimaryKey */}) <span class="fa-regular fa-file"></span>
                @Html.ActionLink("Delete", "Delete", new {/* id=item.PrimaryKey */}) <span class="fa-regular fa-trash-can"></span>

                <div class="col-md-1 border-start"></div> <!-- Vertical separator -->

                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-warning"> <span class="fa-regular fa-pen-to-square"></span> Edit </a>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-info"> <span class="fa-regular fa-file"></span> Details </a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger"><span class="fa-regular fa-trash-can"></span> Delete </a>

                <div class="col-md-1 border-start"></div> <!-- Vertical separator -->

                <a asp-action="Edit" asp-route-classId="@item.SchoolClassId" asp-route-studentId="@item.StudentId" class="btn btn-outline-warning"><span class="fa-regular fa-pen-to-square"></span> Edit</a>
                <a asp-action="Details" asp-route-classId="@item.SchoolClassId" asp-route-studentId="@item.StudentId" class="btn btn-outline-info"><span class="fa-regular fa-file"></span> Details</a>
                <a asp-action="Delete" asp-route-classId="@item.SchoolClassId" asp-route-studentId="@item.StudentId" class="btn btn-outline-danger"><span class="fa-regular fa-trash-can"></span> Delete</a>

            </td>
        </tr>
    }
    </tbody>
</table>