@* --------------------------------------------------- *@
@* Rodapé para testes número 3                         *@
@* --------------------------------------------------- *@

@* _LayoutFooterSimple *@


<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">

        <div class="nav col-md-4 d-flex align-items-center">
            <a class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1" href="/">
                <svg class="bi" fill="currentColor" height="24" width="30">
                    <use xlink:href="/lib/bootstrap-icons/bootstrap-icons.svg#house-gear"/>
                </svg>
            </a>

            <span class="mb-3 mb-md-0 text-body-secondary">
                &copy; 2023 @ViewData["AssemblyName"] -
                Version: @ViewData["AssemblyVersion"]
                @* | @ViewData["AssemblyFileVersion"] *@
            </span>

            <span class="mb-3 mb-md-0 text-body-secondary">
                &copy; 2017 – @DateTime.Today.Year | @DateTime.Now
            </span>

        </div>

        <ul class="nav col-md-4 justify-content-end list-unstyled  d-block  my-custom-footer-html">
            <li class="ms-3 ">
                <span class="html-width"></span>
            </li>
            <li class="ms-3 ">
                <span class="html-height"></span>
            </li>
            <li class="ms-3 ">
                <span class="html-width-height"></span>
            </li>
        </ul>

        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3">
                <a class="text-body-secondary" href="#">
                    <svg class="bi" fill="currentColor" height="24" width="24">
                        <use xlink:href="/lib/bootstrap-icons/bootstrap-icons.svg#twitter"/>
                    </svg>
                </a>
            </li>
            <li class="ms-3">
                <a class="text-body-secondary" href="#">
                    <svg class="bi" fill="currentColor" height="24" width="24">
                        <use xlink:href="/lib/bootstrap-icons/bootstrap-icons.svg#instagram"/>
                    </svg>
                </a>
            </li>
            <li class="ms-3">
                <a class="text-body-secondary" href="#">
                    <svg class="bi" fill="currentColor" height="24" width="24">
                        <use xlink:href="/lib/bootstrap-icons/bootstrap-icons.svg#facebook"/>
                    </svg>
                </a>
            </li>
        </ul>

    </footer>

</div>