@* --------------------------------------------------- *@
@* Rodapé para testes número 2                         *@
@* --------------------------------------------------- *@

@* _LayoutFooterMinimal *@

<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">

        <p class="col-md-6 mb-0 text-body-secondary">
            &copy; 2023 @ViewData["AssemblyName"] &copy; - Version: @ViewData["AssemblyVersion"] @ViewData["AssemblyFileVersion"]
        </p>

        <p class="col-md-6 mb-0 text-body-secondary">
            &copy; 2017 – @DateTime.Today.Year | @DateTime.Now |
        </p>

        <a class="col-md-6 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <ul class=" list-unstyled   my-custom-footer-html">
                <li class="ms-3 footer-content-navbar">
                    <span class="html-width"></span>
                </li>
                <li class="ms-3 footer-content-navbar">
                    <span class="html-height"></span>
                </li>
                <li class="ms-3 footer-content-navbar">
                    <span class="html-width-height"></span>
                </li>
            </ul>
        </a>

        <a class="col-md-6 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <svg class="bi me-2" fill="currentColor" height="32" width="40">
                <use xlink:href="/lib/bootstrap-icons/bootstrap-icons.svg#house-gear"/>
            </svg>
        </a>

        <ul class="nav col-md-4 justify-content-end">
            <li class="nav-item">
                <a class="nav-link px-2 text-body-secondary"
                   asp-area="" asp-controller="Home" asp-action="Index">
                    Home
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link px-2 text-body-secondary"
                   asp-area="" asp-controller="Home" asp-action="Features">
                    Features
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link px-2 text-body-secondary"
                   asp-area="" asp-controller="Home" asp-action="Pricing">
                    Pricing
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link px-2 text-body-secondary"
                   asp-area="" asp-controller="Home" asp-action="FAQs">
                    FAQs
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link px-2 text-body-secondary"
                   asp-area="" asp-controller="Home" asp-action="About">
                    About
                </a>
            </li>
        </ul>

    </footer>

</div>