@* @model dynamic *@
@* @model SchoolProject.Web.Helpers.NotFoundViewResult *@

@{
    ViewData["Title"] = ViewData["ClassName"] + " Not Found";
    var action = ViewData["Action"]?.ToString() ?? string.Empty;
    var controller = ViewData["Controller"]?.ToString() ?? string.Empty;
    var buttonHref = "/" + controller + "/" + action;
    var itemId = (ViewData["ItemId"] != null ? string.IsNullOrEmpty(ViewData["ItemId"].ToString()) : true) ? "Nulo" : ViewData["ItemId"] != null ? ViewData["ItemId"].ToString() : string.Empty;
}

<h2>@ViewData["Title"] </h2>

<div class="container">
    <div class="row">
        <div class="col-md-12 p-2">
            <div class="error-template">
                <h1> Oops!</h1>
                <h2> @ViewData["StatusCode"] 404 Not Found </h2>
                <h2> @ViewData["Title"] </h2>

                <div class="error-details">
                    Sorry, an error has occured, Requested page not found!
                    <h4>The @ViewData["ClassName"] with the Id @ViewData["ItemId"] was Not Found!!!</h4>
                </div>

                <div class="error-actions">
                    <a asp-action="@ViewData["Action"]" asp-controller="@ViewData["Controller"]" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>Take Me Home </a>
                    <a href="mailto: @* @Model.EmailAddress *@ " class="btn btn-default btn-lg"><span class="glyphicon glyphicon-envelope"></span> Contact Support </a>
                </div>
            </div>
        </div>
    </div>
</div>

<h2>@ViewData["Title"] </h2>

<h4>The @ViewData["ClassName"] with the Id @ViewData["ItemId"] was Not Found!!!</h4>