@using System.Reflection
@model IEnumerable<SchoolProject.Web.Data.Entities.Countries.City>
@* @model PaginationViewModel<SchoolProject.Web.Data.Entities.Countries.City> *@

@{
    // ViewData["Title"] = "Index";
    // ViewData["Title"] = "Owners List";
    // ViewData["Title"] = @ViewContext.RouteData.Values["controller"] + " - " + @ViewContext.RouteData.Values["action"];
    ViewData["Title"] = ViewContext.RouteData.Values["controller"] + " List";

    var actionName = ViewContext.RouteData.Values["action"]?.ToString() ?? string.Empty;
    var controllerName = ViewContext.RouteData.Values["controller"]?.ToString() ?? string.Empty;
    var assemblyName = Assembly.GetExecutingAssembly().GetName().Name ?? string.Empty;

    // Isso obtém o nome da classe do modelo atual
    var deleteClassName = ViewData["CurrentClass"] != null ? ViewData["CurrentClass"]?.ToString() : string.Empty;
    var pageTitle = actionName + " - " + controllerName + " - " + assemblyName + " " + ViewData["vAssemblyVersion"];
}

@* <h2>@pageTitle</h2> *@
<h2>@actionName</h2>

<div class="container-fluid py-3">
    <div class="row">
        @* <div class="col-md-4"> *@
        <div class="col">
            @* <a asp-action="Create" class="btn btn-secondary p-2"><span class="fa-regular fa-square-plus fa-xl p-1 pe-1"></span> Create New </a> *@
            <a asp-action="Create" class="btn btn-secondary p-2"><span class="fa-solid fa-circle-plus fa-xl p-1 pe-1"></span> Create New </a>
        </div>
        @if (string.Equals(actionName, "IndexCards1"))
        {
            @* <div class="col-md-8 justify-content-end"> *@
            <div class="col justify-content-end">
                <partial model="Model" name="Pagination/_PageNavigationTop"/>
            </div>
        }
    </div>
</div>

<table class="table table-hover" sortable="True" id="sortableTable">
    <thead>
    <tr>
        <th>@Html.DisplayNameFor(model => model.ProfilePhotoId)</th>
        @* <th>@Html.DisplayNameFor(model => model.ProfilePhotoId)</th> *@
        @* <th>@Html.DisplayNameFor(model => model.ProfilePhotoId)</th> *@
        <th>@Html.DisplayNameFor(model => model.Name)</th>
        <th>@Html.DisplayNameFor(model => model.Country)</th>
        <th>@Html.DisplayNameFor(model => model.NumberOfCities)</th>
        <th>@Html.DisplayNameFor(model => model.Country.Nationality)</th>
        @* <th>@Html.DisplayNameFor(model => model.IdGuid)</th> *@
        @* <th>@Html.DisplayNameFor(model => model.WasDeleted)</th> *@
        @* <th>@Html.DisplayNameFor(model => model.CreatedAt)</th> *@
        @* <th>@Html.DisplayNameFor(model => model.UpdatedAt)</th> *@
        <th></th>
    </tr>
    </thead>

    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            @* <td>@Html.DisplayFor(modelItem => item.ProfilePhotoId)</td> *@
            <td>
                <img alt="Image" class="img-thumbnail" height="100"
                     src="@Url.Content(item.ProfilePhotoIdUrl)" width="100"/>
            </td>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Country.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.NumberOfCities)</td>
            <td>@Html.DisplayFor(modelItem => item.Country.Nationality.Name)</td>
            @* <td>@Html.DisplayFor(modelItem => item.IdGuid)</td> *@
            @* <td>@Html.DisplayFor(modelItem => item.WasDeleted)</td> *@
            @* <td>@Html.DisplayFor(modelItem => item.CreatedAt)</td> *@
            @* <td>@Html.DisplayFor(modelItem => item.UpdatedAt)</td> *@
            <td>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning"> <span class="fa-regular fa-pen-to-square"></span> Edit </a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info"> <span class="fa-regular fa-file"></span> Details </a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger" data-bs-target="#deleteButton" data-bs-toggle="modal" data-del-action="Delete" data-del-class="@deleteClassName" data-del-controller="@controllerName" data-del-item-id="@item.Id" data-del-item-name="@item.Name" id="btnDelete" type="button"><span class="fa-regular fa-trash-can"></span> Delete </a>
                </div>
            </td>
        </tr>
    }

    </tbody>

    <tfoot>
    <tr>
        @* <td colspan="2">Total Lines:</td> *@
        <td>Total Lines:</td>
        <td>@Model.Count()</td>
        <td></td>
        <td>@Model.Select(i => i.Country.Id).Distinct().Count()</td>
        <td></td>
        <td></td>
        @* <td></td> *@
    </tr>
    </tfoot>

</table>

<partial name="Modals/_DbException"/>

@if (ViewBag.ShowErrorModal == true)
{
    <script>
        $(document).ready(function () {
            $('#errorModal').modal('show');
        });
    </script>
}