@model SchoolProject.Web.Data.Entities.Courses.Course

<div class="col">
    <dl class="row">
        <dt class="col-sm-3"> @Html.DisplayNameFor(model => model.Code)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Code)</dd>
        <dt class="col-sm-3"> @Html.DisplayNameFor(model => model.Acronym)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Acronym)</dd>
        <dt class="col-sm-3"> @Html.DisplayNameFor(model => model.Name)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Name)</dd>
        <dt class="col-sm-3"> @Html.DisplayNameFor(model => model.QnqLevel)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.QnqLevel)</dd>
        <dt class="col-sm-3"> @Html.DisplayNameFor(model => model.EqfLevel)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.EqfLevel) </dd>
        <dt class="col-sm-3"> @Html.DisplayNameFor(model => model.StartDate) </dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.StartDate) </dd>
        <dt class="col-sm-3"> @Html.DisplayNameFor(model => model.EndDate)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.EndDate)</dd>
        <dt class="col-sm-3"> @Html.DisplayNameFor(model => model.StartHour) </dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.StartHour)</dd>
        <dt class="col-sm-3"> @Html.DisplayNameFor(model => model.EndHour)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.EndHour)</dd>
    </dl>

    <dl class="row">
        <dt class="col-sm-3"> @Html.DisplayNameFor(model => model.Location)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Location)</dd>
        <dt class="col-sm-3"> @Html.DisplayNameFor(model => model.Type)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Type)</dd>
        <dt class="col-sm-3"> @Html.DisplayNameFor(model => model.Area)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Area)</dd>
        <dt class="col-sm-3"> @Html.DisplayNameFor(model => model.PriceForEmployed) </dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.PriceForEmployed) </dd>
        <dt class="col-sm-3"> @Html.DisplayNameFor(model => model.PriceForUnemployed)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.PriceForUnemployed)</dd>
        <dt class="col-sm-3"> @Html.DisplayNameFor(model => model.ProfilePhotoId)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.ProfilePhotoId)</dd>
        @* <dt class="col-sm-3"> @Html.DisplayNameFor(model => model.IdGuid)</dt> *@
        @* <dd class="col-sm-9">@Html.DisplayFor(model => model.IdGuid)</dd> *@
        <dt class="col-sm-3"> @Html.DisplayNameFor(model => model.WasDeleted)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.WasDeleted)</dd>
        <dt class="col-sm-3"> @Html.DisplayNameFor(model => model.CreatedAt)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.CreatedAt)</dd>
        <dt class="col-sm-3"> @Html.DisplayNameFor(model => model.UpdatedAt)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.UpdatedAt) </dd>
    </dl>
</div>

@*
<dl class="row">
    <dt class="col-sm-3"> @Html.DisplayNameFor(model => model.Code)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(model => model.Code)</dd>
    <dt class="col-sm-3"> @Html.DisplayNameFor(model => model.Acronym)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(model => model.Acronym)</dd>
    <dt class="col-sm-3"> @Html.DisplayNameFor(model => model.Name)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(model => model.Name)</dd>
    <dt class="col-sm-3"> @Html.DisplayNameFor(model => model.QnqLevel)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(model => model.QnqLevel)</dd>
    <dt class="col-sm-3"> @Html.DisplayNameFor(model => model.EqfLevel)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(model => model.EqfLevel) </dd>
    <dt class="col-sm-3"> @Html.DisplayNameFor(model => model.StartDate) </dt>
    <dd class="col-sm-9">@Html.DisplayFor(model => model.StartDate) </dd>
    <dt class="col-sm-3"> @Html.DisplayNameFor(model => model.EndDate)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(model => model.EndDate)</dd>
    <dt class="col-sm-3"> @Html.DisplayNameFor(model => model.StartHour) </dt>
    <dd class="col-sm-9">@Html.DisplayFor(model => model.StartHour)</dd>
    <dt class="col-sm-3"> @Html.DisplayNameFor(model => model.EndHour)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(model => model.EndHour)</dd>
    <dt class="col-sm-3"> @Html.DisplayNameFor(model => model.Location)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(model => model.Location)</dd>
    <dt class="col-sm-3"> @Html.DisplayNameFor(model => model.Type)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(model => model.Type)</dd>
    <dt class="col-sm-3"> @Html.DisplayNameFor(model => model.Area)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(model => model.Area)</dd>
    <dt class="col-sm-3"> @Html.DisplayNameFor(model => model.PriceForEmployed) </dt>
    <dd class="col-sm-9">@Html.DisplayFor(model => model.PriceForEmployed) </dd>
    <dt class="col-sm-3"> @Html.DisplayNameFor(model => model.PriceForUnemployed)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(model => model.PriceForUnemployed)</dd>
    <dt class="col-sm-3"> @Html.DisplayNameFor(model => model.ProfilePhotoId)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(model => model.ProfilePhotoId)</dd>
    <dt class="col-sm-3"> @Html.DisplayNameFor(model => model.IdGuid)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(model => model.IdGuid)</dd>
    <dt class="col-sm-3"> @Html.DisplayNameFor(model => model.WasDeleted)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(model => model.WasDeleted)</dd>
    <dt class="col-sm-3"> @Html.DisplayNameFor(model => model.CreatedAt)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(model => model.CreatedAt)</dd>
    <dt class="col-sm-3"> @Html.DisplayNameFor(model => model.UpdatedAt)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(model => model.UpdatedAt) </dd>
</dl>
*@