@model SchoolProject.Web.Data.Entities.Courses.Course

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Course</h4>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WorkLoad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WorkLoad)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Credits)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Credits)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StudentsCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StudentsCount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProfilePhotoId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProfilePhotoId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WasDeleted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WasDeleted)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>