@using System.Reflection
@model IEnumerable<SchoolProject.Web.Data.Entities.Courses.Course>

@{
    var actionName = ViewContext.RouteData.Values["action"]?.ToString();
    var controllerName = ViewContext.RouteData.Values["controller"]?.ToString();
    var assemblyName = Assembly.GetExecutingAssembly().GetName().Name;

    var pageTitle = actionName + " - " + controllerName + " - " + assemblyName;
}

<h1>@pageTitle</h1>

<p>
    @* <a asp-action="Create" class="btn btn-secondary p-2"><span class="fa-regular fa-square-plus fa-xl p-1 pe-1"></span> Create New </a> *@
    <a asp-action="Create" class="btn btn-secondary p-2"><span class="fa-solid fa-circle-plus fa-xl p-1 pe-1"></span> Create New </a>
</p>

<div class="album py-5 bg-body-tertiary">
    <div class="container-fluid">
        <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-2 row-cols-xl-3 row-cols-xxl-5 g-3">
            @foreach (var item in Model)
            {
                <div class="col">
                    @* <div class="card shadow-sm"> *@
                    <div class="card shadow-sm">

                        <div class="card-img-top">
                            <img alt="Profile Photo" class="img-fluid" src="@item.ProfilePhotoIdUrl">
                        </div>

                        <div class="card-body">
                            <p class="card-text">@Html.DisplayFor(modelItem => item.Name)</p>
                            <p class="card-text">@Html.DisplayFor(modelItem => item.Name)</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-warning"> <span class="fa-regular fa-pen-to-square"></span> Edit </a>
                                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-info"> <span class="fa-regular fa-file"></span> Details </a>
                                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger"><span class="fa-regular fa-trash-can"></span> Delete </a>
                                </div>
                                <small class="text-body-secondary">
                                    @Html.DisplayNameFor(modelItem => item.Code)<br/>
                                    @Html.DisplayFor(modelItem => item.Code)
                                </small>
                                <small class="text-body-secondary">
                                    @Html.DisplayNameFor(modelItem => item.Hours)<br/>
                                    @Html.DisplayFor(modelItem => item.Hours)
                                </small>
                            </div>
                        </div>

                    </div>
                </div>
            }
        </div>
    </div>
</div>