@using System.Reflection
@using Microsoft.AspNetCore.Identity
@using SchoolProject.Web.Controllers;
@using SchoolProject.Web.Data.Entities.Disciplines
@using SchoolProject.Web.Data.Entities.Teachers
@using SchoolProject.Web.Data.Entities.Users

@inject RoleManager<IdentityRole> RoleManager
@inject UserManager<AppUser> UserManager

@model SchoolProject.Web.Data.Entities.Teachers.Teacher

@{
    // ViewData["Title"] = "Index";
    // ViewData["Title"] = "Owners List";
    // ViewData["Title"] = ViewContext.RouteData.Values["controller"] + " - " + ViewContext.RouteData.Values["action"];
    ViewData["Title"] = ViewContext.RouteData.Values["controller"] + " List";

    var actionName = ViewContext.RouteData.Values["action"]?.ToString() ?? string.Empty;
    var controllerName = ViewContext.RouteData.Values["controller"]?.ToString() ?? string.Empty;
    var assemblyName = Assembly.GetExecutingAssembly().GetName().Name ?? string.Empty;

    // Isso obtém o nome da classe do modelo atual
    var deleteClassName = ViewData["CurrentClass"]?.ToString() ?? string.Empty;
    var pageTitle = actionName + " - " + controllerName + " - " + assemblyName + " " + ViewData["vAssemblyVersion"];
}

<br/>
<h4>@DisciplinesController.ControllerName</h4>
@if (Model.Disciplines == null && !Model.Disciplines.Any())
{
    <h5>No @nameof(Discipline) added yet to this @nameof(Teacher) @Model.FullName</h5>
}
else
{
    <table class="table table-hover" sortable="True" id="sortableTable">
        <thead>
        <tr>
            @* <th>@Html.DisplayNameFor(model => model.Disciplines.FirstOrDefault().ProfilePhotoId)</th> *@
            <th>@Html.DisplayNameFor(model => model.Disciplines.FirstOrDefault().Code)</th>
            <th>@Html.DisplayNameFor(model => model.Disciplines.FirstOrDefault().Name)</th>
            <th>@Html.DisplayNameFor(model => model.Disciplines.FirstOrDefault().Description)</th>

            <th>@Html.DisplayNameFor(model => model.Disciplines.FirstOrDefault().Hours)</th>
            <th>@Html.DisplayNameFor(model => model.Disciplines.FirstOrDefault().CreditPoints)</th>

            <th>@Html.DisplayNameFor(model => model.Disciplines.FirstOrDefault().TeachersCount0)</th>
            <th>@Html.DisplayNameFor(model => model.Disciplines.FirstOrDefault().TeachersCount1)</th>

            <th>@Html.DisplayNameFor(model => model.Disciplines.FirstOrDefault().StudentCount0)</th>
            <th>@Html.DisplayNameFor(model => model.Disciplines.FirstOrDefault().StudentCount1)</th>
            <th>@Html.DisplayNameFor(model => model.Disciplines.FirstOrDefault().StudentsCount)</th>

            <th>@Html.DisplayNameFor(model => model.Disciplines.FirstOrDefault().CoursesCount)</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.Disciplines.OrderBy(c => c.Code))
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Code)</td>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Description)</td>

                <td>@Html.DisplayFor(modelItem => item.Hours)</td>
                <td>@Html.DisplayFor(modelItem => item.CreditPoints)</td>

                <td>@Html.DisplayFor(modelItem => item.TeachersCount0)</td>
                <td>@Html.DisplayFor(modelItem => item.TeachersCount1)</td>

                <td>@Html.DisplayFor(modelItem => item.StudentCount0)</td>
                <td>@Html.DisplayFor(modelItem => item.StudentCount1)</td>
                <td>@Html.DisplayFor(modelItem => item.StudentsCount)</td>

                <td>@Html.DisplayFor(modelItem => item.CoursesCount)</td>
                @* <td></td> *@
                <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a asp-controller="Disciplines" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning"> <span class="fa-regular fa-pen-to-square"></span> Edit </a>
                        <a asp-controller="Disciplines" asp-action="Details" asp-route-id="@item.Id" class="btn btn-info"> <span class="fa-regular fa-file"></span> Details </a>
                        <a asp-controller="Disciplines" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger" data-bs-target="#deleteButton" data-bs-toggle="modal" data-del-action="Delete" data-del-class="@deleteClassName" data-del-controller="@controllerName" data-del-item-id="@item.Id" data-del-item-name="@item.Name" id="btnDelete" type="button"><span class="fa-regular fa-trash-can"></span> Delete </a>
                    </div>
                </td>
            </tr>
        }
        </tbody>
        <tfoot>
        <tr>
            <td></td>
            <td>Total Lines:</td>
            <td>@Model.Disciplines.Count()</td>
            <td>@Model.Disciplines.Sum(e => e.Hours).ToString("N0")</td>
            <td>@Model.Disciplines.Sum(e => e.CreditPoints).ToString("N")</td>
            <td></td>
        </tr>
        </tfoot>
    </table>
}