@model SchoolProject.Web.Data.Entities.Teachers.Teacher

@* <!-- Outro conteúdo da página --> *@
<div>
    <h3>Errors:</h3>
    <ul>
        <li>@Html.ValidationSummary(false, "", new {@class = "text-danger"})</li>
    </ul>
</div>

<div class="form-group">
    <label asp-for="FirstName" class="control-label"></label>
    <input asp-for="FirstName" class="form-control"/>
    <span asp-validation-for="FirstName" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="LastName" class="control-label"></label>
    <input asp-for="LastName" class="form-control"/>
    <span asp-validation-for="LastName" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Address" class="control-label"></label>
    <input asp-for="Address" class="form-control"/>
    <span asp-validation-for="Address" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="PostalCode" class="control-label"></label>
    <input asp-for="PostalCode" class="form-control"/>
    <span asp-validation-for="PostalCode" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="CountryId" class="control-label"></label>
    <select asp-for="CountryId" asp-items="ViewBag.CountryId" class="form-control"></select>
    <span asp-validation-for="CountryId" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="CityId" class="control-label"></label>
    <select asp-for="CityId" asp-items="ViewBag.CityId" class="form-control"></select>
    <span asp-validation-for="CityId" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="MobilePhone" class="control-label"></label>
    <input asp-for="MobilePhone" class="form-control"/>
    <span asp-validation-for="MobilePhone" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Email" class="control-label"></label>
    <input asp-for="Email" class="form-control"/>
    <span asp-validation-for="Email" class="text-danger"></span>
</div>
<div class="form-group form-check">
    <label class="form-check-label">
        <input class="form-check-input" asp-for="Active"/>@Html.DisplayNameFor(model => model.Active)
    </label>
</div>
<div class="form-group">
    <label asp-for="DateOfBirth" class="control-label"></label>
    <input asp-for="DateOfBirth" class="form-control"/>
    <span asp-validation-for="DateOfBirth" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="IdentificationNumber" class="control-label"></label>
    <input asp-for="IdentificationNumber" class="form-control"/>
    <span asp-validation-for="IdentificationNumber" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="IdentificationType" class="control-label"></label>
    <input asp-for="IdentificationType" class="form-control"/>
    <span asp-validation-for="IdentificationType" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="ExpirationDateIdentificationNumber" class="control-label"></label>
    <input asp-for="ExpirationDateIdentificationNumber" class="form-control"/>
    <span asp-validation-for="ExpirationDateIdentificationNumber" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="TaxIdentificationNumber" class="control-label"></label>
    <input asp-for="TaxIdentificationNumber" class="form-control"/>
    <span asp-validation-for="TaxIdentificationNumber" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="EnrollDate" class="control-label"></label>
    <input asp-for="EnrollDate" class="form-control"/>
    <span asp-validation-for="EnrollDate" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="ImageFile" class="control-label"></label>
    <input asp-for="ImageFile" class="form-control" id="imageInput" type="file" onchange="previewImages(event)"/>
    <span asp-validation-for="ImageFile" class="text-danger"></span>
</div>
@* <div class="form-group">
    <label asp-for="ProfilePhotoId" class="control-label"></label>
    <input asp-for="ProfilePhotoId" class="form-control"/>
    <span asp-validation-for="ProfilePhotoId" class="text-danger"></span>
</div> *@
<div class="form-group form-check">
    <label class="form-check-label">
        <input class="form-check-input" asp-for="WasDeleted"/>@Html.DisplayNameFor(model => model.WasDeleted)
    </label>
</div>
<div class="form-group">
    <label asp-for="UpdatedAt" class="control-label"></label>
    <input asp-for="UpdatedAt" class="form-control"/>
    <span asp-validation-for="UpdatedAt" class="text-danger"></span>
</div>


@* <div class="col">
    <div class="form-group">
        <label asp-for="FirstName" class="control-label"></label>
        <input asp-for="FirstName" class="form-control"/>
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="LastName" class="control-label"></label>
        <input asp-for="LastName" class="form-control"/>
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Address" class="control-label"></label>
        <input asp-for="Address" class="form-control"/>
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PostalCode" class="control-label"></label>
        <input asp-for="PostalCode" class="form-control"/>
        <span asp-validation-for="PostalCode" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="MobilePhone" class="control-label"></label>
        <input asp-for="MobilePhone" class="form-control"/>
        <span asp-validation-for="MobilePhone" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control"/>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DateOfBirth" class="control-label"></label>
        <input asp-for="DateOfBirth" class="form-control"/>
        <span asp-validation-for="DateOfBirth" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="IdentificationNumber" class="control-label"></label>
        <input asp-for="IdentificationNumber" class="form-control"/>
        <span asp-validation-for="IdentificationNumber" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="IdentificationType" class="control-label"></label>
        <input asp-for="IdentificationType" class="form-control"/>
        <span asp-validation-for="IdentificationType" class="text-danger"></span>
    </div>

</div>


<div class="col">
    <div class="form-group">
        <label asp-for="ExpirationDateIdentificationNumber" class="control-label"></label>
        <input asp-for="ExpirationDateIdentificationNumber" class="form-control"/>
        <span asp-validation-for="ExpirationDateIdentificationNumber" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="TaxIdentificationNumber" class="control-label"></label>
        <input asp-for="TaxIdentificationNumber" class="form-control"/>
        <span asp-validation-for="TaxIdentificationNumber" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Gender" class="control-label"></label>
        <select asp-for="Gender" asp-items="ViewBag.Genders" class="form-control"></select>
        <span asp-validation-for="Gender" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="GenderId" class="control-label"></label>
        <select asp-for="GenderId" asp-items="ViewBag.Genders" class="form-control"></select>
        <span asp-validation-for="GenderId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="CountryId" class="control-label"></label>
        <select asp-for="CountryId" asp-items="ViewBag.CountryId" class="form-control"></select>
        <span asp-validation-for="CountryId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="CityId" class="control-label"></label>
        <select asp-for="CityId" asp-items="ViewBag.CityId" class="form-control"></select>
        <span asp-validation-for="CityId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="CountryOfNationalityId" class="control-label"></label>
        <select asp-for="CountryOfNationalityId" asp-items="ViewBag.CountryId" class="form-control"></select>
        <span asp-validation-for="CountryOfNationalityId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="BirthplaceId" class="control-label"></label>
        <select asp-for="BirthplaceId" asp-items="ViewBag.CountryId" class="form-control"></select>
        <span asp-validation-for="BirthplaceId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="EnrollDate" class="control-label"></label>
        <input asp-for="EnrollDate" class="form-control" disabled/>
        <span asp-validation-for="EnrollDate" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="AppUser" class="control-label"></label>
        <input asp-for="AppUser.FullName" class="form-control" disabled/>
        <span asp-validation-for="AppUser" class="text-danger"></span>
    </div>
</div>


<div class="col">
    <div class="form-group">
        <label asp-for="ProfilePhotoId" class="control-label"></label>
        <input asp-for="ProfilePhotoId" class="form-control"/>
        <span asp-validation-for="ProfilePhotoId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ImageFile" class="control-label"></label>
        <input asp-for="ImageFile" class="form-control" id="imageInput" onchange="previewImages(event)" type="file" />
        <span asp-validation-for="ImageFile" class="text-danger"></span>
    </div>


    <div class="form-group">
        <label asp-for="CreatedBy" class="control-label"></label>
        <input asp-for="CreatedBy.FullName" class="form-control" disabled/>
        <span asp-validation-for="CreatedBy" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="CreatedAt" class="control-label"></label>
        <input asp-for="CreatedAt" class="form-control" disabled/>
        <span asp-validation-for="CreatedAt" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="UpdatedBy" class="control-label"></label>
        <input asp-for="UpdatedBy.FullName" class="form-control" disabled/>
        <span asp-validation-for="UpdatedBy" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="UpdatedAt" class="control-label"></label>
        <input asp-for="UpdatedAt" class="form-control" disabled/>
        <span asp-validation-for="UpdatedAt" class="text-danger"></span>
    </div>

    <div class="form-group form-check">
        <label class="form-check-label">
            <input class="form-check-input" asp-for="Active"/>@Html.DisplayNameFor(model => model.Active)
        </label>
    </div>
    <div class="form-group form-check">
        <label class="form-check-label">
            <input class="form-check-input" asp-for="WasDeleted"/>@Html.DisplayNameFor(model => model.WasDeleted)
        </label>
    </div> *@

<script src="~/js/citiesAndCountriesList.js"></script>