@using Microsoft.AspNetCore.Identity;
@using SchoolProject.Web.Data.Entities.Users;
@using SchoolProject.Web.Helpers.Users;
@using System.Diagnostics;
@using System.Reflection

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@inject IUserHelper UserHelper

@model SchoolProject.Web.Data.Entities.Teachers.Teacher

@{
    ViewData["AssemblyName"] = Assembly.GetExecutingAssembly().GetName().Name;
    ViewData["AssemblyFullName"] = Assembly.GetExecutingAssembly().GetName().FullName;
    ViewData["AssemblyVersion"] = Assembly.GetExecutingAssembly().GetName().Version;
    ViewData["vAssemblyVersion"] = "v" + Assembly.GetExecutingAssembly().GetName().Version;

    var actionName = ViewContext.RouteData.Values["action"]?.ToString() ?? string.Empty;
    ViewData["actionName"] = actionName;

    var controllerName = ViewContext.RouteData.Values["controller"]?.ToString() ?? string.Empty;
    ViewData["controllerName"] = controllerName;

    var assemblyName = Assembly.GetExecutingAssembly().GetName().Name;
    ViewData["assemblyName"] = assemblyName;

    // var pageTitle = actionName + " - " + controllerName + " - " + assemblyName ;
    var pageTitle = actionName + " - " + controllerName + " - " + assemblyName + " " + ViewData["vAssemblyVersion"];

    ViewData["pageTitle"] = pageTitle;
    ViewData["Title"] = "Create";
    // ViewData["Title"] = "Edit";
}

<h2>@actionName</h2>

<h4>@controllerName</h4>
<hr/>

<div class="container">
    <div class="col-md">
        <div class="row">
            <partial name="_DisplayImages"/>

            <div class="col">
                <div class="row">
                    <form asp-action="Edit" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id"/>
                        <input type="hidden" asp-for="IdGuid"/>

                        <partial name="_TeachersCE" for="@Model"/>

                        <br/>
                        <div class="btn-group" role="group" aria-label="Basic outlined example">
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary"><span class="fa-regular fa-floppy-disk"></span> Save </button>
                                <a asp-action="Index" class="btn btn-success"><span class="fa-solid fa-rotate-left"></span> Back to List</a>
                            </div>
                        </div>

                        <br/>
                        <div class="text-success">
                            <p>@ViewBag.Message</p>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>

<hr/>
<partial name="_DisciplinesTable" model="@Model"/>

<hr/>
<partial name="_DisciplinesTable1" model="@Model"/>

<script src="~/js/citiesAndCountriesList.js"></script>
<script src="~/js/gendersList.js"></script>
<script src="~/js/rolesList.js"></script>
@* <script src="~/js/citiesWithNationalityAndCountries.js"></script> *@
@* <script src="~/js/citiesWithNationalityAndCountriesList.js"></script> *@


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}