@using SchoolProject.Web.Data.Entities.Users
@using SchoolProject.Web.Helpers.Users
@using System.Diagnostics
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@inject IUserHelper UserHelper


@{
    var currentController = ViewContext.RouteData.Values["controller"] as string;
    var currentAction = ViewContext.RouteData.Values["action"] as string;

    Debug.Assert(User.Identity != null, "User.Identity != null");
}


<div class="b-example-divider d-none">Admin dropdown section | If section</div>
@* Verifica se o User está autenticado e se é o Admin!! *@
@* cria um drop-down com as opções de Users e Roles *@
@if (User.Identity.IsAuthenticated && (User.IsInRole("Admin") || User.IsInRole("SuperAdmin") || User.IsInRole("SuperUser")))
{
    <div class="b-example-divider d-none">Admin dropdown section | admin panel 2 </div>
    <div class="b-example-divider d-none">Admin dropdown section | Split drop-start button section</div>

    @* <!-- Split drop-start button --> *@
    <div class="btn-group dropstart">
        <button
            aria-expanded="false"
            class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" type="button">
            <span class="visually-hidden">Toggle Admin Panel</span>
        </button>

        @* <!-- Dropdown menu links --> *@
        <ul class="dropdown-menu">
            <li>
                <a asp-action="Index" asp-area="" asp-controller="Users"
                   class="dropdown-item @(currentAction == "Index" && currentController == "Users" ? "Roles" : "")">
                    <span class="bi bi-person-fill"></span>
                    <span class="material-symbols-outlined">person</span>
                    Users
                </a>
            </li>
            <li>
                <a asp-action="IndexCards" asp-area="" asp-controller="Users"
                   class="dropdown-item @(currentAction == "IndexCards" && currentController == "Users" ? "Roles" : "")">
                    <span class="bi bi-person-fill"></span>
                    <span class="material-symbols-outlined">person</span>
                    Users
                </a>
            </li>
            <li>
                <a asp-action="IndexCards1" asp-area="" asp-controller="Users"
                   class="dropdown-item @(currentAction == "IndexCards1" && currentController == "Users" ? "Roles" : "")">
                    <span class="bi bi-person-fill"></span>
                    <span class="material-symbols-outlined">person</span>
                    Users
                </a>
            </li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li>
                <a asp-action="" asp-area="" asp-controller="Roles"
                   class="dropdown-item @(currentAction == "Index" && currentController == "Home" ? "Roles" : "")">
                    <span class="bi bi-people-fill"></span>
                    <span class="material-symbols-outlined">group</span>
                    Roles
                </a>
            </li>
            <li>
                <a asp-action="IndexCards" asp-area="" asp-controller="Roles"
                   class="dropdown-item @(currentAction == "IndexCards" && currentController == "Home" ? "Roles" : "")">
                    <span class="bi bi-people-fill"></span>
                    <span class="material-symbols-outlined">group</span>
                    Roles
                </a>
            </li>
            <li>
                <a asp-action="IndexCards1" asp-area="" asp-controller="Roles"
                   class="dropdown-item @(currentAction == "IndexCards1" && currentController == "Home" ? "Roles" : "")">
                    <span class="bi bi-people-fill"></span>
                    <span class="material-symbols-outlined">group</span>
                    Roles
                </a>
            </li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li class="nav-item">
                <a asp-area="Identity" asp-page="/Account/Manage/Index"
                   class="dropdown-item @(currentAction == "" && currentController == "Account" ? "active" : "")"
                   id="manage" title="Manage">
                    <span class="material-symbols-outlined">settings_account_box</span>
                    @* Hello @UserManager.GetUserName(User)! *@
                    @* @User.Identity?.Name *@
                    Hello @await UserHelper.GetUserInitialsAsync()
                </a>
            </li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li class="nav-item">
                <a asp-action="Register" asp-area="" asp-controller="Account"
                   class="dropdown-item @(currentAction == "Register" && currentController == "Account" ? "active" : "")">
                    <span class="material-symbols-outlined">person</span>
                    Register New User
                </a>
            </li>
        </ul>

        <button
            aria-expanded="false"
            class="nav-link  @(currentController is "Users" or "Roles" ? "active" : "") p-1"
            data-bs-toggle="dropdown" type="button">
            <svg class="bi d-block mx-auto mb-1" fill="currentColor" height="2em" viewBox="0 0 448 512"
                 xmlns="http://www.w3.org/2000/svg">
                <path d="M144 144c0-44.2 35.8-80 80-80c31.9 0 59.4 18.6 72.3 45.7c7.6 16 26.7 22.8 42.6 15.2s22.8-26.7 15.2-42.6C331 33.7 281.5 0 224 0C144.5 0 80 64.5 80 144v48H64c-35.3 0-64 28.7-64 64V448c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V256c0-35.3-28.7-64-64-64H144V144z"/>
            </svg>
            Admin Panel
        </button>
    </div>
}