@using System.Diagnostics
@using SchoolProject.Web.Controllers
@{
    var currentController = ViewContext.RouteData.Values["controller"] as string;
    var currentAction = ViewContext.RouteData.Values["action"] as string;
    Debug.Assert(User.Identity != null, "AppUser.Identity != null");
}

<div class="dropdown p-2">

    <a class="nav-link dropdown-toggle @(currentController is "Disciplines" ? "active" : "") p-1"
       role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <svg class="bi d-block mx-auto mb-1" fill="currentColor" height="2.0em" viewBox="0 0 576 512"
             xmlns="http://www.w3.org/2000/svg">
            <path d="M96 32C60.7 32 32 60.7 32 96V384H96V96l384 0V384h64V96c0-35.3-28.7-64-64-64H96zM224 384v32H32c-17.7 0-32 14.3-32 32s14.3 32 32 32H544c17.7 0 32-14.3 32-32s-14.3-32-32-32H416V384c0-17.7-14.3-32-32-32H256c-17.7 0-32 14.3-32 32z"/>
        </svg>
        @DisciplinesController.ControllerName
    </a>

    <ul class="dropdown-menu p-2">
        <li>
            <a asp-action="Index" asp-area="" asp-controller="Disciplines"
               class="dropdown-item @(currentAction == "Index" && currentController == "Disciplines" ? "active" : "")">
                @DisciplinesController.ControllerName List
            </a>
        </li>
        <li>
            <hr class="dropdown-divider">
        </li>
        <li>
            <a asp-action="IndexCards" asp-area="" asp-controller="Disciplines"
               class="dropdown-item @(currentAction == "IndexCards" && currentController == "Disciplines" ? "active" : "")">
                <span class="fas fa-person-through-window"></span>
                @DisciplinesController.ControllerName Cards Search
            </a>
        </li>
        <li>
            <hr class="dropdown-divider">
        </li>
        <li>
            <a asp-action="IndexCards1" asp-area="" asp-controller="Disciplines"
               class="dropdown-item @(currentAction == "IndexCards1" && currentController == "Disciplines" ? "active" : "")">
                <span class="fas fa-person-through-window"></span>
                @DisciplinesController.ControllerName Cards Sorting
            </a>
        </li>
    </ul>

</div>