@model SchoolProject.Web.Data.Entities.OtherEntities.Gender

@{
    ViewData["Title"] = "Delete";

    var showErrorModal = TempData["showErrorModal"] != null && (bool) TempData["showErrorModal"];
    var saveChangesError = TempData.ContainsKey("saveChangesError") && (bool) TempData["saveChangesError"];

    var title = TempData["title"] as string;
    var message = TempData["message"] as string;
    var dbUpdateException = TempData["dbUpdateException"] as string;
    var dbUpdateInnerException = TempData["dbUpdateInnerException"] as string;
    var dbUpdateInnerExceptionMessage = TempData["dbUpdateInnerExceptionMessage"] as string;
}

<br/>
<h1>@ViewData["Title"] </h1>

<p>TempData["showErrorModal"] = @TempData["showErrorModal"] </p>
<p>TempData["saveChangesError"] = @TempData["saveChangesError"] </p>

<br/>
<h4>Product</h4>
<br/>
<hr/>

<h3>Are you sure you want to delete this?</h3>
@* <hr/> *@

<div class="container-fluid">

    <div class="row">

        <partial name="_ProductsImages"/>

        <div class="col">
            <partial name="_ProductsDeleteDetails"/>

            <form asp-area="" asp-controller="Genders" asp-action="Delete">

                <input type="hidden" asp-for="Id"/>
                @* <input type="submit" value="Delete" class="btn btn-danger"/> *@

                <button type="submit" value="Delete" class="btn btn-danger">
                    <span class="material-symbols-outlined">delete</span> Delete
                </button>

                <button type="submit" value="Delete" class="btn btn-outline-danger">
                    <i class="bi bi-trash"></i>
                    <i class="material-symbols-outlined">delete</i> Delete
                </button>


                <a asp-area="" asp-controller="Genders" asp-action="Index" class="btn btn-secondary">
                    <i class="material-symbols-outlined">chevron_left</i>Back to List
                </a>

            </form>

        </div>

    </div>

</div>


<!-- --------------------------------------------------------------------------------------------------------------- -->

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    <script>
        function showDbUpdateExceptionModal() {
            $('#DbUpdateExceptionStaticBackdrop').modal('show');
        }

        $(document).ready(function() {
            showDbUpdateExceptionModal();
        });
    </script>
}

@if (showErrorModal || saveChangesError)
{
    <script>
        showDbUpdateExceptionModal();
    </script>
}


<!-- --------------------------------------------------------------------------------------------------------------- -->
<!-- DbUpdateExceptionStaticBackdrop -->
<!-- Modal -->
<!-- --------------------------------------------------------------------------------------------------------------- -->
<div class="modal fade" id="TestDbUpdateExceptionStaticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
     tabindex="-1" aria-labelledby="TestDbUpdateExceptionStaticBackdropLabel" aria-hidden="true">

    <div class="modal-dialog">

        <div class="modal-content">

            <div class="modal-header">
                @if (TempData["DbUpdateException"] != null)
                {
                    <h1 class="modal-title fs-5" id="TestDbUpdateExceptionStaticBackdropLabel">@TempData["ErrorTitle"] </h1>
                }
                else
                {
                    <h1 class="modal-title fs-5" id="TestDbUpdateExceptionStaticBackdropLabel">Modal title</h1>
                }

                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                @if (TempData["DbUpdateException"] != null)
                {
                    <p>
                        <strong>Request ID:</strong> <code>@Model.Id</code> |
                        <strong>Product Name:</strong> <code>@Model.Name</code>
                    </p>
                    <p class="text-warning">@Html.Raw(TempData["ErrorMessage"])</p>
                    @* <br/> *@
                    <p class="text-warning">@Html.Raw(TempData["DbUpdateException"])</p>
                    <p class="text-warning">@Html.Raw(TempData["DbUpdateInnerException"])</p>
                    <p class="text-warning">@Html.Raw(TempData["DbUpdateInnerExceptionMessage"])</p>
                }
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Understood</button>
            </div>

        </div>

    </div>

</div>


<!-- --------------------------------------------------------------------------------------------------------------- -->