@model IEnumerable<SchoolProject.Web.Data.Entities.OtherEntities.Gender>
@* @model IEnumerable<SchoolProject.Web.Models.ProductViewModel>  *@

@{
    ViewData["Title"] = "Products List";
}

<br/>
<h1>@ViewData["Title"]</h1>

<br/>
<p>
    <a asp-area="" asp-controller="Genders" asp-action="Create" class="btn btn-primary">Create New</a>
    <a asp-area="" asp-controller="Genders" asp-action="Create" class="btn btn-outline-primary"><span class="fa-solid fa-stethoscope"></span> New Medic</a>
</p>
<br/>

<div class="table-responsive-sm">
    <table class="table table-sm table-hover">
        <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.IdGuid)</th>
            <th>@Html.DisplayNameFor(model => model.ProfilePhotoIdUrl)</th>
            <th>@Html.DisplayNameFor(model => model.WasDeleted)</th>
            <th>@Html.DisplayNameFor(model => model.CreatedAt)</th>
            <th>@Html.DisplayNameFor(model => model.CreatedBy)</th>
            <th>@Html.DisplayNameFor(model => model.UpdatedAt)</th>
            <th>@Html.DisplayNameFor(model => model.UpdatedBy)</th>
            <th></th>
        </tr>
        </thead>

        <tbody class="table-group-divider">
        @if (Model == null || !Model.Any())
        {
            <p>Não há produtos disponíveis.</p>
            <p>O tipo do modelo é: @Model.GetType().FullName</p>
        }
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.IdGuid)</td>

                <td>
                    <img alt="Image" class="img-thumbnail" height="150" src="@Url.Content(item.ProfilePhotoIdUrl)" width="150"/>
                </td>
                @* <td> *@
                @*     <img alt="Image" class="img-thumbnail" height="150" src="@Url.Content(item.ProfilePhotoIdUrl)" width="150" /> *@
                @* </td> *@

                <td>@Html.DisplayFor(modelItem => item.WasDeleted)</td>
                <td>@Html.DisplayFor(modelItem => item.CreatedAt)</td>
                <td>@Html.DisplayFor(modelItem => item.CreatedBy)</td>
                <td>@Html.DisplayFor(modelItem => item.UpdatedAt)</td>
                <td>@Html.DisplayFor(modelItem => item.UpdatedBy)</td>

                <td>
                    <a asp-area="" asp-controller="Genders" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning"><span class="material-symbols-outlined">edit</span>Edit</a>
                    <a asp-area="" asp-controller="Genders" asp-action="Details" asp-route-id="@item.Id" class="btn btn-info"><span class="material-symbols-outlined">info</span>Details</a>
                    <a asp-area="" asp-controller="Genders" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"><span class="material-symbols-outlined">delete</span>Delete</a>

                    <a asp-area="" asp-controller="Genders" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-warning"><span class="fa-regular fa-pen-to-square"></span> Edit</a>
                    <a asp-area="" asp-controller="Genders" asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-info"><span class="fa-regular fa-file"></span> Details</a>
                    <a asp-area="" asp-controller="Genders" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger"><span class="fa-regular fa-trash-can"></span> Delete</a>
                </td>
            </tr>
        }
        </tbody>

    </table>

</div>

<br/>