@using System.Reflection;
@using SchoolProject.Web.Controllers;
@using SchoolProject.Web.Data.Entities.Countries;

@model SchoolProject.Web.Data.Entities.Countries.Country

@{
    // ViewData["Title"] = "Index";
    // ViewData["Title"] = "Owners List";
    // ViewData["Title"] = @ViewContext.RouteData.Values["controller"] + " - " + @ViewContext.RouteData.Values["action"];
    ViewData["Title"] = ViewContext.RouteData.Values["controller"] + " List";

    var actionName = ViewContext.RouteData.Values["action"]?.ToString() ?? string.Empty;
    var controllerName = ViewContext.RouteData.Values["controller"]?.ToString() ?? string.Empty;
    var assemblyName = Assembly.GetExecutingAssembly().GetName().Name ?? string.Empty;

    // Isso obtém o nome da classe do modelo atual
    var deleteClassName = ViewData["CurrentClass"]?.ToString() ?? string.Empty;
    var pageTitle = actionName + " - " + controllerName + " - " + assemblyName + " " + ViewData["vAssemblyVersion"];
}

<!-- Compare this snippet from SuperLibrary.Web/Views/Countries/Edit.cshtml: -->
<br/>
<h4>Cities</h4>
@if (Model.Cities == null || Model.Cities.Count == 0)
{
    <h5>No cities added yet</h5>
}
else
{
    <table class="table table-hover" sortable="True" id="sortableTable">
        <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Cities.FirstOrDefault().Name)</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.Cities.OrderBy(c => c.Name))
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                @* <td></td> *@
                <td id="@item.Id">
                    <a asp-action="EditCity" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
                    <a asp-action="DeleteCity" asp-route-id="@item.Id" class="btn btn-danger" id="btnDelete">Delete</a>
                    <!-- Button trigger modal -->
                    <a asp-action="DeleteCity" asp-route-id="@item.Id" class="btn btn-danger" data-bs-target="#deleteCityModal" data-bs-toggle="modal" id="btnDeleteCity" type="button">Launch demo modal</a>
                </td>
                    <td id="@item.Id">
                        <div class="btn-group" role="group" aria-label="Basic outlined example">
                            <a asp-controller="Cities" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning"> <span class="fa-regular fa-pen-to-square"></span> Edit </a>
                            <a asp-controller="Cities" asp-action="Details" asp-route-id="@item.Id" class="btn btn-info"> <span class="fa-regular fa-file"></span> Details </a>
                            <a asp-controller="Cities" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger" data-bs-target="#deleteButton" data-bs-toggle="modal" data-del-action="Delete" data-del-class="@nameof(City)" data-del-controller="Cities" data-del-item-id="@item.Id" data-del-item-name="@item.Name" id="btnDelete" type="button"><span class="fa-regular fa-trash-can"></span> Delete </a>
                            <!-- Button trigger modal "#deleteButton" -->
                            @* <a asp-controller="Cities" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger" data-bs-target="#deleteButton" data-bs-toggle="modal" data-del-action="Delete" data-del-class="@deleteClassName" data-del-controller="@controllerName" data-del-item-id="@item.Id" data-del-item-name="@item.Name" id="btnDelete" type="button"><span class="fa-regular fa-trash-can"></span> Delete </a> *@
                        </div>
                    </td>

            </tr>
        }
        </tbody>
        <tfoot>
        <tr>
            <td>Total Lines:</td>
            <td>@Model.Cities.Count</td>
            <td></td>
        </tr>
        </tfoot>
    </table>
}


<!-- Modal -->
<div class="modal fade" id="deleteCityModal" tabindex="-1" aria-labelledby="deleteCityModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="deleteCityModalLabel">Delete City</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Do you want to delete the city?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
                <button type="button" class="btn btn-danger" id="btnYesDeleteCity">Delete</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script type="text/javascript">
        $(document).ready(function () {
            let id = 0;
            debugger;

            $('a[id*=btnDeleteCity]').click(function () {
                debugger;
                id = $(this).parent()[0].id;
                return false;
            });

            $("#btnYesDeleteCity").click(function () {
                debugger;
                console.log("Button clicked");
                console.log("ID: " + id);
                window.location.href = '/Countries/DeleteCity/' + id;
            });

        });
    </script>
}