@model SchoolProject.Web.Data.Entities.Countries.Country
@* @model IEnumerable<SchoolProject.Web.Data.Entities.Countries.Country> *@
@* @model PaginationViewModel<SchoolProject.Web.Data.Entities.Countries.Country> *@


<div class="row">
    <div class="col-md-8">

        <dl class="row">
            <dt class="col-sm-3"> @Html.DisplayNameFor(model => model.Name) </dt>
            <dd class="col-sm-9"> @Html.DisplayFor(model => model.Name) </dd>
            @* <dt class="col-sm-3"> @Html.DisplayNameFor(model => model.ProfilePhotoId) </dt> *@
            @* <dd class="col-sm-9"> @Html.DisplayFor(model => model.ProfilePhotoId) </dd> *@
            <dt class="col-sm-3"> @Html.DisplayNameFor(model => model.Nationality)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Nationality.Name) </dd>
            <dt class="col-sm-3"> @Html.DisplayNameFor(model => model.NumberOfCities) </dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.NumberOfCities) </dd>
            @* <dt class="col-sm-3"> @Html.DisplayNameFor(model => model.IdGuid)        </dt> *@
            @* <dd class="col-sm-9">@Html.DisplayFor(model => model.IdGuid)            </dd> *@
            @* <dt class="col-sm-3"> @Html.DisplayNameFor(model => model.WasDeleted)    </dt> *@
            @* <dd class="col-sm-9">@Html.DisplayFor(model => model.WasDeleted)        </dd> *@
            @* <dt class="col-sm-3"> @Html.DisplayNameFor(model => model.CreatedAt)     </dt> *@
            @* <dd class="col-sm-9">@Html.DisplayFor(model => model.CreatedAt)         </dd> *@
            @* <dt class="col-sm-3"> @Html.DisplayNameFor(model => model.UpdatedAt)     </dt> *@
            @* <dd class="col-sm-9">@Html.DisplayFor(model => model.UpdatedAt)         </dd> *@
        </dl>
    </div>

    

</div>