@using System.Reflection
@model IEnumerable<SchoolProject.Web.Data.Entities.Countries.Country>
@* @model PaginationViewModel<SchoolProject.Web.Data.Entities.Countries.Country> *@

@{
    // ViewData["Title"] = "Index";
    // ViewData["Title"] = "Owners List";
    // ViewData["Title"] = @ViewContext.RouteData.Values["controller"] + " - " + @ViewContext.RouteData.Values["action"];
    ViewData["Title"] = ViewContext.RouteData.Values["controller"] + " List";

    var actionName = ViewContext.RouteData.Values["action"]?.ToString();
    var controllerName = ViewContext.RouteData.Values["controller"]?.ToString();
    var assemblyName = Assembly.GetExecutingAssembly().GetName().Name;

    // Isso obtém o nome da classe do modelo atual
    var deleteClassName = ViewData["CurrentClass"]?.ToString();
    var pageTitle = actionName + " - " + controllerName + " - " + assemblyName;
}

@* <h2>@pageTitle</h2> *@
<h2>@ViewData["Title"]</h2>

<div class="container-fluid py-3">
    <div class="row">
        @* <div class="col-md-4"> *@
        <div class="col">
            @* <a asp-action="Create" class="btn btn-secondary p-2"><span class="fa-regular fa-square-plus fa-xl p-1 pe-1"></span> Create New </a> *@
            <a asp-action="Create" class="btn btn-secondary p-2"><span class="fa-solid fa-circle-plus fa-xl p-1 pe-1"></span> Create New </a>
        </div>
        @if (string.Equals(actionName, "IndexCards1"))
        {
            @* <div class="col-md-8 justify-content-end"> *@
            <div class="col justify-content-end">
                <partial model="Model" name="Pagination/_PageNavigationTop"/>
            </div>
        }
    </div>
</div>

<table class="table table-hover" sortable="True" id="sortableTable">
    <thead>
    <tr>
        <th>@Html.DisplayNameFor(model => model.ProfilePhotoId)</th>
        <th>@Html.DisplayNameFor(model => model.Name)</th>
        @* <th>@Html.DisplayNameFor(model => model.IdGuid)</th> *@
        <th>@Html.DisplayNameFor(model => model.WasDeleted)</th>
        @* <th>@Html.DisplayNameFor(model => model.CreatedAt)</th> *@
        @* <th>@Html.DisplayNameFor(model => model.UpdatedAt)</th> *@
        <th></th>
    </tr>
    </thead>

    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            @* <td>@Html.DisplayFor(modelItem => item.ProfilePhotoId)</td> *@
            <td>
                <img alt="Image" class="img-thumbnail" height="150"
                     src="@Url.Content(item.ProfilePhotoIdUrl)" width="auto"/>
            </td>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            @* <td>@Html.DisplayFor(modelItem => item.IdGuid)</td> *@
            <td>@Html.DisplayFor(modelItem => item.WasDeleted)</td>
            @* <td>@Html.DisplayFor(modelItem => item.CreatedAt)</td> *@
            @* <td>@Html.DisplayFor(modelItem => item.UpdatedAt)</td> *@
            <td>
                <div class="btn-group" role="group" aria-label="Basic outlined example">
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-warning"> <span class="fa-regular fa-pen-to-square"></span> Edit </a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-info"> <span class="fa-regular fa-file"></span> Details </a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger" data-bs-target="#deleteButton" data-bs-toggle="modal" data-del-action="Delete" data-del-class="@deleteClassName" data-del-controller="@controllerName" data-del-item-id="@item.Id" data-del-item-name="@item.Name" id="btnDelete" type="button"><span class="fa-regular fa-trash-can"></span> Delete </a>
                    <!-- Button trigger modal "#deleteButton" -->
                    @* <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger" data-bs-target="#deleteButton" data-bs-toggle="modal" data-del-action="Delete" data-del-class="@deleteClassName" data-del-controller="@controllerName" data-del-item-id="@item.Id" data-del-item-name="@item.Name" id="btnDelete" type="button"><span class="fa-regular fa-trash-can"></span> Delete </a> *@
                </div>
            </td>
            <div></div>
        </tr>
    }
    </tbody>
</table>


<partial name="Modals/_DbException"/>

<!-- Modal de Erro -->
<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="errorModalLabel">Erro</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="errorMessage"></p>
            </div>
        </div>
    </div>
</div>


@* @if (ViewBag.ShowErrorModal) *@
@if (ViewBag.ShowErrorModal != null && ViewBag.ShowErrorModal)
{
    <script>
        
        $(document).ready(function () {
            // Verificar se o modal de erro deve ser exibido
            // Exibir o modal e definir o corpo com a mensagem de erro
            $('#errorModal').modal('show');
            $('#errorMessage').html('@Html.Raw(ViewBag.ModalErrorMessage)');

    });

</script>
}