@inject RoleManager<IdentityRole> RoleManager
@inject UserManager<AppUser> UserManager

@using System.Diagnostics
@using System.Reflection
@using Microsoft.AspNetCore.Identity
@using SchoolProject.Web.Data.Entities.Users
@model Microsoft.AspNetCore.Identity.IdentityRole

@{
    // ViewData["Title"] = "Index";
    // ViewData["Title"] = "Owners List";
    // ViewData["Title"] = @ViewContext.RouteData.Values["controller"] + " - " + @ViewContext.RouteData.Values["action"];
    ViewData["Title"] = ViewContext.RouteData.Values["controller"] + " List";

    var actionName = ViewContext.RouteData.Values["action"]?.ToString() ?? string.Empty;
    var controllerName = ViewContext.RouteData.Values["controller"]?.ToString() ?? string.Empty;
    var assemblyName = Assembly.GetExecutingAssembly().GetName().Name ?? string.Empty;

    // Isso obtém o nome da classe do modelo atual
    var deleteClassName = ViewData["CurrentClass"]?.ToString() ?? string.Empty;
    var pageTitle = actionName + " - " + controllerName + " - " + assemblyName + " " + ViewData["vAssemblyVersion"];


    // cria a lista de usuários para a role atual
    var appUserList = UserManager.GetUsersInRoleAsync(Model.Name).Result.ToList();

    Debug.Assert(appUserList != null, nameof(appUserList) + " != null");
}

<br/>
<h4>Cities</h4>
@if (appUserList == null && !appUserList.Any())
{
    <h5>No user added yet to this role @Model.Name</h5>
}
else
{
    <table class="table table-hover" sortable="True" id="sortableTable">
        <thead>
        <tr>
            <th>@Html.DisplayNameFor(a => appUserList.FirstOrDefault().FirstName)</th>
            <th>@Html.DisplayNameFor(a => appUserList.FirstOrDefault().LastName)</th>
            <th>@Html.DisplayNameFor(a => appUserList.FirstOrDefault().Address)</th>
            <th>@Html.DisplayNameFor(a => appUserList.FirstOrDefault().Email)</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in appUserList.OrderBy(c => c.FirstName))
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.FirstName)</td>
                <td>@Html.DisplayFor(modelItem => item.LastName)</td>
                <td>@Html.DisplayFor(modelItem => item.Address)</td>
                <td>@Html.DisplayFor(modelItem => item.Email)</td>
                <td></td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a asp-action="Edit" asp-controller="Users" asp-route-id="@item.Id" class="btn btn-warning"> <span class="fa-regular fa-pen-to-square"></span> Edit </a>
                        <a asp-action="Details" asp-controller="Users" asp-route-id="@item.Id" class="btn btn-info"> <span class="fa-regular fa-file"></span> Details </a>
                        <a asp-action="Delete" asp-controller="Users" asp-route-id="@item.Id" class="btn btn-danger" data-bs-target="#deleteButton" data-bs-toggle="modal" data-del-action="Delete" data-del-class="@deleteClassName" data-del-controller="@controllerName" data-del-item-id="@item.Id" data-del-item-name="@item.FirstName" id="btnDelete" type="button"><span class="fa-regular fa-trash-can"></span> Delete </a>
                    </div>
                </td>
            </tr>
        }
        </tbody>
        <tfoot>
        <tr>
            <td></td>
            <td>Total Lines:</td>
            <td></td>
            <td>@appUserList.Count()</td>
            <td></td>
            <td></td>
        </tr>
        </tfoot>
    </table>
}