@page

@model IEnumerable<SchoolProject.Web.Data.Entities.SchoolClasses.SchoolClass>

@{
    var actionName = ViewContext.RouteData.Values["action"].ToString();
    var controllerName = ViewContext.RouteData.Values["controller"].ToString();
    var assemblyName = System.Reflection.Assembly.GetExecutingAssembly().GetName().Name;

    ViewData["Title"] = actionName + controllerName + assemblyName;
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table table-hover" sortable="True" id="sortableTable">

    <thead>
    <tr>
        <th>@Html.DisplayNameFor(model => model.Code) </th>
        <th>@Html.DisplayNameFor(model => model.Acronym)</th>
        <th>@Html.DisplayNameFor(model => model.Name)</th>
        <th>@Html.DisplayNameFor(model => model.QnqLevel)</th>
        <th>@Html.DisplayNameFor(model => model.EqfLevel)</th>
        <th>@Html.DisplayNameFor(model => model.StartDate)</th>
        <th>@Html.DisplayNameFor(model => model.EndDate)</th>
        <th>@Html.DisplayNameFor(model => model.StartHour)</th>
        <th>@Html.DisplayNameFor(model => model.EndHour)</th>
        <th>@Html.DisplayNameFor(model => model.Location)</th>
        <th>@Html.DisplayNameFor(model => model.Type) </th>
        <th>@Html.DisplayNameFor(model => model.Area) </th>
        <th>@Html.DisplayNameFor(model => model.PriceForEmployed)</th>
        <th>@Html.DisplayNameFor(model => model.PriceForUnemployed) </th>
        <th>@Html.DisplayNameFor(model => model.ProfilePhotoId)</th>
        <th>@Html.DisplayNameFor(model => model.IdGuid)</th>
        <th>@Html.DisplayNameFor(model => model.WasDeleted)</th>
        <th>@Html.DisplayNameFor(model => model.CreatedAt) </th>
        <th>@Html.DisplayNameFor(model => model.UpdatedAt) </th>
        <th></th>
    </tr>
    </thead>

    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Code)</td>
            <td>@Html.DisplayFor(modelItem => item.Acronym)</td>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.QnqLevel)</td>
            <td>@Html.DisplayFor(modelItem => item.EqfLevel)</td>
            <td>@Html.DisplayFor(modelItem => item.StartDate)</td>
            <td>@Html.DisplayFor(modelItem => item.EndDate)</td>
            <td>@Html.DisplayFor(modelItem => item.StartHour) </td>
            <td>@Html.DisplayFor(modelItem => item.EndHour)</td>
            <td>@Html.DisplayFor(modelItem => item.Location)</td>
            <td>@Html.DisplayFor(modelItem => item.Type)</td>
            <td>@Html.DisplayFor(modelItem => item.Area)</td>
            <td>@Html.DisplayFor(modelItem => item.PriceForEmployed)</td>
            <td>@Html.DisplayFor(modelItem => item.PriceForUnemployed) </td>
            <td>@Html.DisplayFor(modelItem => item.ProfilePhotoId)</td>
            <td>@Html.DisplayFor(modelItem => item.IdGuid)</td>
            <td>@Html.DisplayFor(modelItem => item.WasDeleted)</td>
            <td>@Html.DisplayFor(modelItem => item.CreatedAt)</td>
            <td>@Html.DisplayFor(modelItem => item.UpdatedAt)</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>