@model IEnumerable<SchoolProject.Web.Data.Entities.SchoolClasses.SchoolClass>

@{
    ViewData[index: "Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(expression: model => model.Code)
        </th>
        <th>
            @Html.DisplayNameFor(expression: model => model.Acronym)
        </th>
        <th>
            @Html.DisplayNameFor(expression: model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(expression: model => model.QnqLevel)
        </th>
        <th>
            @Html.DisplayNameFor(expression: model => model.EqfLevel)
        </th>
        <th>
            @Html.DisplayNameFor(expression: model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(expression: model => model.EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(expression: model => model.StartHour)
        </th>
        <th>
            @Html.DisplayNameFor(expression: model => model.EndHour)
        </th>
        <th>
            @Html.DisplayNameFor(expression: model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(expression: model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(expression: model => model.Area)
        </th>
        <th>
            @Html.DisplayNameFor(expression: model => model.PriceForEmployed)
        </th>
        <th>
            @Html.DisplayNameFor(expression: model => model.PriceForUnemployed)
        </th>
        <th>
            @Html.DisplayNameFor(expression: model => model.ProfilePhotoId)
        </th>
        <th>
            @Html.DisplayNameFor(expression: model => model.IdGuid)
        </th>
        <th>
            @Html.DisplayNameFor(expression: model => model.WasDeleted)
        </th>
        <th>
            @Html.DisplayNameFor(expression: model => model.CreatedAt)
        </th>
        <th>
            @Html.DisplayNameFor(expression: model => model.UpdatedAt)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(expression: modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(expression: modelItem => item.Acronym)
            </td>
            <td>
                @Html.DisplayFor(expression: modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(expression: modelItem => item.QnqLevel)
            </td>
            <td>
                @Html.DisplayFor(expression: modelItem => item.EqfLevel)
            </td>
            <td>
                @Html.DisplayFor(expression: modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(expression: modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(expression: modelItem => item.StartHour)
            </td>
            <td>
                @Html.DisplayFor(expression: modelItem => item.EndHour)
            </td>
            <td>
                @Html.DisplayFor(expression: modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(expression: modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(expression: modelItem => item.Area)
            </td>
            <td>
                @Html.DisplayFor(expression: modelItem => item.PriceForEmployed)
            </td>
            <td>
                @Html.DisplayFor(expression: modelItem => item.PriceForUnemployed)
            </td>
            <td>
                @Html.DisplayFor(expression: modelItem => item.ProfilePhotoId)
            </td>
            <td>
                @Html.DisplayFor(expression: modelItem => item.IdGuid)
            </td>
            <td>
                @Html.DisplayFor(expression: modelItem => item.WasDeleted)
            </td>
            <td>
                @Html.DisplayFor(expression: modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(expression: modelItem => item.UpdatedAt)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>