@model IEnumerable<SchoolProject.Web.Data.Entities.SchoolClasses.SchoolClassCourse>

@{
    ViewData[index: "Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(expression: model => model.SchoolClass)
        </th>
        <th>
            @Html.DisplayNameFor(expression: model => model.Course)
        </th>
        <th>
            @Html.DisplayNameFor(expression: model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(expression: model => model.IdGuid)
        </th>
        <th>
            @Html.DisplayNameFor(expression: model => model.WasDeleted)
        </th>
        <th>
            @Html.DisplayNameFor(expression: model => model.CreatedAt)
        </th>
        <th>
            @Html.DisplayNameFor(expression: model => model.CreatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(expression: model => model.UpdatedAt)
        </th>
        <th>
            @Html.DisplayNameFor(expression: model => model.UpdatedBy)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(expression: modelItem => item.SchoolClass.Acronym)
            </td>
            <td>
                @Html.DisplayFor(expression: modelItem => item.Course.Code)
            </td>
            <td>
                @Html.DisplayFor(expression: modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(expression: modelItem => item.IdGuid)
            </td>
            <td>
                @Html.DisplayFor(expression: modelItem => item.WasDeleted)
            </td>
            <td>
                @Html.DisplayFor(expression: modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(expression: modelItem => item.CreatedBy.Id)
            </td>
            <td>
                @Html.DisplayFor(expression: modelItem => item.UpdatedAt)
            </td>
            <td>
                @Html.DisplayFor(expression: modelItem => item.UpdatedBy.Id)
            </td>
            <td>
                @Html.ActionLink(linkText: "Edit", actionName: "Edit", routeValues: new {/* id=item.PrimaryKey */}) |
                @Html.ActionLink(linkText: "Details", actionName: "Details", routeValues: new {/* id=item.PrimaryKey */}) |
                @Html.ActionLink(linkText: "Delete", actionName: "Delete", routeValues: new {/* id=item.PrimaryKey */})
            </td>
        </tr>
    }
    </tbody>
</table>